<div class="row col-11 col-lg-3  h-100 p-0 m-0 flex-wrap userMenu mb-5">
    <h2 class="col-12">name</h2>
    <ul class="col-12">
        <li class="py-1 col-12 summeryOfActivities"><h5>summery of activities</h5></li>
        <li class="py-1 col-12 orders"><h5>orders</h5></li>
        <li class="py-1 col-12 opinions"><h5>opinions</h5></li>
        <li class="py-1 col-12 addresses"><h5>addresses</h5></li>
        <li class="py-1 col-12 messages"><h5>messages</h5></li>
        <li class="py-1 col-12 recentVisits"><h5>recent visits</h5></li>

        <li class="py-1 col-12 userAccountInformation">
            <a href="{% url 'edit_user' %}"><h5>user account information</h5></a>
        </li>

        <li class="py-1 col-12"><h5>exit</h5></li>
    </ul>
</div>