{% extends 'shared/_layout.html' %}

{% block title %}
    forget pass
{% endblock %}

{% block content %}
    <div class="container-fluid emailReg d-flex justify-content-center align-items-center">
        <div class="container-xxl d-flex justify-content-center align-items-center">
            <div class="row regByEmail flex-wrap">
                <div class="regType d-flex flex-wrap px-0 h-50">
                    <div class="col-6 d-flex justify-content-center align-items-center my-3 p-lg-4"><a href="">registration
                        by email</a></div>
                    <div class="col-6 d-flex justify-content-center align-items-center my-3 p-lg-4"><a
                            href="{% url 'register_mobile_page' %}">registration by phone</a></div>
                </div>
                <form class="reg d-flex justify-content-center align-items-center flex-wrap h-50 p-4"
                      action="{% url 'register_email_page' %}" method="post" name="reg">
                    {% csrf_token %}

                    {{ email_form.email.label_tag }}
                    <br>
                    {{ email_form.email }}
                    <br>
                    {{ email_form.email.errors }}
                    <br>

                    {{ email_form.password.label_tag }}
                    <br>
                    {{ email_form.password }}
                    <br>
                    {{ email_form.password.errors }}
                    <br>

                    {{ email_form.confirm_password.label_tag }}
                    <br>
                    {{ email_form.confirm_password }}
                    <br>
                    {{ email_form.confirm_password.errors }}
                    <br>

                    <button type="submit" class="col-6 p-2">send</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}