{% extends 'shared/_layout.html' %}

{% block title %}
   forget pass
{% endblock %}

{% block content %}
    <div class="container-xxl d-flex justify-content-center align-items-center">
        <form class="verifyForm d-flex justify-content-center align-items-center flex-wrap h-50 px-4 py-5"
              action="{% url 'forgot_pass_page' %}" method="post" name="ver">
            {% comment %}<input class="col-9" type="text" placeholder="enter email" name="verify">
            <span class="error col-9"></span>{% endcomment %}
            {% csrf_token %}
            {{ forget_pass_form.email.label_tag }}
            {{ forget_pass_form.email }}
            {{ forget_pass_form.email.errors }}

            <button class="col-9">send</button>
        </form>
    </div>
{% endblock %}