<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../../../statics/stylesheet/normalize.css">
    <link rel="stylesheet" href="../../../statics/stylesheet/master.css">
    <link rel="stylesheet" href="../../../statics/stylesheet/local.css">
    <title>Document</title>
</head>
<body>
<div class="container-fluid slideC3 d-flex justify-content-center align-items-center p-0 m-0 pb-4">
    <div class="container-xxl slide3 d-flex justify-content-center align-items-center w-100 h-100 p-0 m-0">
        <div class="row slider3 h-100 w-100 p-0 m-0">
            <div class="window3 p-0 m-0 col-12 col-lg-6 h-100">
                <span onclick="_right3()" id="right3"><i class="bi bi-arrow-right-circle-fill"></i></span>
                <span onclick="_left3()" id="left3"><i class="bi bi-arrow-left-circle-fill"></i></span>
                <div id="bus3" class="w-100 h-100 p-0 m-0">
                    <figure class="col-12">
                        <div>
                            سایز عکسا مهم نیست ولی طول و عرض همه عکسا رو یکی کن
                        </div>
                    </figure>
                    <figure class="col-12">
                        <div>
                            <img alt="" class="h-100" src="../../../statics/images/logo.png">
                        </div>
                    </figure>
                    <figure class="col-12">
                        <div>
                            <img alt="" class="h-100" src="../../../statics/images/logo.png">
                        </div>
                    </figure>
                </div>
                <div class="thumbnail">
                    <div class="thumb"></div>
                    <div class="thumb"></div>
                    <div class="thumb"></div>
                </div>
            </div>
            <div class="col-12 col-lg-3 text p-4 mt-4">
                <h2 class="pt-3">name: </h2>
                <h6 class="py-2">id: </h6>
                <h4 class="py-2">price: </h4>
                <h4 class="py-2 pb-3">موجودی: </h4>
                <div class="add">
                    <div class="w-100 my-2 h-100 py-2">
                        <span class="addToCart h-100">add to cart</span>
                    </div>
                    <div class="w-100 count">
                        <div class="col-12 p-2 d-flex justify-content-start align-items-center">
                            <div class="counter d-flex justify-content-center align-items-center">
                                <div class="p-3 d-flex justify-content-center align-items-center">
                                    <i class="bi bi-trash"></i>
                                </div>
                                <h4 class="my-2 d-flex justify-content-center align-items-center">1</h4>
                                <div class="p-2 d-flex justify-content-center align-items-center">+</div>
                            </div>
                        </div>
                        <div class="col-12 p-3 d-flex justify-content-start align-items-center">
                            <a href="">برو سبد خریدتو ببین</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3 p-4">
                <div class="col-12 d-flex justify-content-between align-items-center px-2">
                    <h4 class="h-100 col-6">brand </h4>
                    <div class="h-100 col-3"><i class="bi bi-check"></i></div>
                    <div class="h-100 col-3"><i class="bi bi-x"></i></div>
                </div>
                <form class="col-12 d-flex justify-content-between align-items-center px-4 py-2 flex-wrap"
                      action="registerForm.php" method="post" name="filter">
                    <label class="col-4" for="yes1"><h5>brand1: </h5></label>
                    <input class="col-4" id="yes1" type="radio" name="brand1" value="yes" checked>
                    <label for="no1"></label>
                    <input class="col-4" id="no1" type="radio" name="brand1" value="no">

                    <label class="col-4" for="yes2"><h5>brand2: </h5></label>
                    <input class="col-4" id="yes2" type="radio" name="brand2" value="yes" checked>
                    <label for="no2"></label>
                    <input class="col-4" id="no2" type="radio" name="brand2" value="no">

                    <label class="col-4" for="yes3"><h5>brand3: </h5></label>
                    <input class="col-4" id="yes3" type="radio" name="brand3" value="yes" checked>
                    <label for="no3"></label>
                    <input class="col-4" id="no3" type="radio" name="brand3" value="no">

                    <label class="col-4" for="yes4"><h5>brand4: </h5></label>
                    <input class="col-4" id="yes4" type="radio" name="brand4" value="yes" checked>
                    <label for="no4"></label>
                    <input class="col-4" id="no4" type="radio" name="brand4" value="no">

                    <label class="col-4" for="yes5"><h5>brand5: </h5></label>
                    <input class="col-4" id="yes5" type="radio" name="brand5" value="yes" checked>
                    <label for="no5"></label>
                    <input class="col-4" id="no5" type="radio" name="brand5" value="no">

                    <label class="col-4" for="yes6"><h5>brand6: </h5></label>
                    <input class="col-4" id="yes6" type="radio" name="brand6" value="yes" checked>
                    <label for="no6"></label>
                    <input class="col-4" id="no6" type="radio" name="brand6" value="no">
                    <div>فیلتر قیمت . کل این خطو پاک کن</div>
                    <button class="sendDetails">send</button>
                </form>
            </div>
            <div class="col-12 p-0 m-0">
                <ul class="col-12 p-0 m-0 d-flex justify-content-start align-items-center details">
                    <li class="d-block p-4 show">مشخصات</li>
                    <li class="d-block p-4 show">یادم نیست اینو</li>
                    <li class="d-block p-4 show">نظرات</li>
                </ul>
                <div class="col-12 p-4 txt">eetreffevf</div>
                <div class="col-12 p-4 txt">reeredcfffbb</div>
                <div class="col-12 p-4 txt">
                    <div class="row ps-4">
                        <h6 class="commentTitle col-4 col-md-2 "><i class="bi bi-person"></i>اسم مشتری </h6>
                        <h6 class="commentTitle col-4 col-md-2 day"></h6>
                        <h6 class="commentTitle col-4 col-md-2 time"></h6>
                    </div>
                    <form class="comment mt-4 d-flex justify-content-start align-items-center flex-wrap"
                          action="registerForm.php" method="post" autocomplete="off">
                        <input class="col-10 col-lg-4" id="field1" name="name" type="text" placeholder="enter your name"
                               tabindex="1" required>

                        <input class="col-10 col-lg-4" id="field2" name="email" type="email"
                               placeholder="enter your email address" required
                               tabindex="2" autocomplete="on">


                        <textarea class="col-10 col-lg-6 me-5" name="comment" id="" cols="30" rows="10"
                                  placeholder="write here..."></textarea>
                        <button class="col-4 me-5">send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid d-flex justify-content-center align-items-center">
    <div class="container-xxl d-flex justify-content-center align-items-center">
        <div class="row h-100 w-100">
            <h4 class="d-flex justify-content-center align-items-center">Similar products</h4>
        </div>
    </div>
</div>


<div class="container-fluid d-flex justify-content-center align-items-center">
    <div class="container-xxl slide2 d-flex justify-content-center align-items-center">
        <div class="row slider2 h-100 w-100">
            <div class="window2 h-100 p-0 m-0  bg-white">
                <span class="moveR" id="right2" onclick="_right2()"><i class="bi bi-arrow-right-short"></i></span>
                <span class="moveL" id="left2" onclick="_left2()"><i class="bi bi-arrow-left-short"></i></span>
                <div class="d-flex justify-content-space-start align-items-center m-0 p-4  bg-white" id="bus2">
                    <figure>
                        <div>
                            ی دانه عکس با طول 154 و عرض 148
                        </div>
                        <figcaption class="d-flex justify-content-center align-items-center">اسم کالا</figcaption>
                        <a href="" class="d-flex justify-content-center align-items-center">show details</a>
                        <a href="" class="d-flex justify-content-center align-items-center">add to cart<i
                                class="bi bi-cart-plus"></i></a>
                    </figure>
                    <figure>
                        <div>
                            ی دانه عکس با طول 154 و عرض 148
                        </div>
                        <figcaption class="d-flex justify-content-center align-items-center">اسم کالا</figcaption>
                        <a href="" class="d-flex justify-content-center align-items-center">show details</a>
                        <a href="" class="d-flex justify-content-center align-items-center">add to cart<i
                                class="bi bi-cart-plus"></i></a>
                    </figure>
                    <figure>
                        <div>
                            ی دانه عکس با طول 154 و عرض 148
                        </div>
                        <figcaption class="d-flex justify-content-center align-items-center">اسم کالا</figcaption>
                        <a href="" class="d-flex justify-content-center align-items-center">show details</a>
                        <a href="" class="d-flex justify-content-center align-items-center">add to cart<i
                                class="bi bi-cart-plus"></i></a>
                    </figure>
                    <figure>
                        <div>
                            ی دانه عکس با طول 154 و عرض 148
                        </div>
                        <figcaption class="d-flex justify-content-center align-items-center">اسم کالا</figcaption>
                        <a href="" class="d-flex justify-content-center align-items-center">show details</a>
                        <a href="" class="d-flex justify-content-center align-items-center">add to cart<i
                                class="bi bi-cart-plus"></i></a>
                    </figure>
                    <figure>
                        <div>
                            ی دانه عکس با طول 154 و عرض 148
                        </div>
                        <figcaption class="d-flex justify-content-center align-items-center">اسم کالا</figcaption>
                        <a href="" class="d-flex justify-content-center align-items-center">show details</a>
                        <a href="" class="d-flex justify-content-center align-items-center">add to cart<i
                                class="bi bi-cart-plus"></i></a>
                    </figure>
                    <figure>
                        <div>
                            ی دانه عکس با طول 154 و عرض 148
                        </div>
                        <figcaption class="d-flex justify-content-center align-items-center">اسم کالا</figcaption>
                        <a href="" class="d-flex justify-content-center align-items-center">show details</a>
                        <a href="" class="d-flex justify-content-center align-items-center">add to cart<i
                                class="bi bi-cart-plus"></i></a>
                    </figure>
                    <figure>
                        <div>
                            ی دانه عکس با طول 154 و عرض 148
                        </div>
                        <figcaption class="d-flex justify-content-center align-items-center">اسم کالا</figcaption>
                        <a href="" class="d-flex justify-content-center align-items-center">show details</a>
                        <a href="" class="d-flex justify-content-center align-items-center">add to cart<i
                                class="bi bi-cart-plus"></i></a>
                    </figure>
                    <figure>
                        <div>
                            ی دانه عکس با طول 154 و عرض 148
                        </div>
                        <figcaption class="d-flex justify-content-center align-items-center">اسم کالا</figcaption>
                        <a href="" class="d-flex justify-content-center align-items-center">show details</a>
                        <a href="" class="d-flex justify-content-center align-items-center">add to cart<i
                                class="bi bi-cart-plus"></i></a>
                    </figure>
                    <figure>
                        <div>
                            ی دانه عکس با طول 154 و عرض 148
                        </div>
                        <figcaption class="d-flex justify-content-center align-items-center">اسم کالا</figcaption>
                        <a href="" class="d-flex justify-content-center align-items-center">show details</a>
                        <a href="" class="d-flex justify-content-center align-items-center">add to cart<i
                                class="bi bi-cart-plus"></i></a>
                    </figure>
                    <figure>
                        <div>
                            ی دانه عکس با طول 154 و عرض 148
                        </div>
                        <figcaption class="d-flex justify-content-center align-items-center">اسم کالا</figcaption>
                        <a href="" class="d-flex justify-content-center align-items-center">show details</a>
                        <a href="" class="d-flex justify-content-center align-items-center">add to cart<i
                                class="bi bi-cart-plus"></i></a>
                    </figure>
                    <figure>
                        <div>
                            ی دانه عکس با طول 154 و عرض 148
                        </div>
                        <figcaption class="d-flex justify-content-center align-items-center">اسم کالا</figcaption>
                        <a href="" class="d-flex justify-content-center align-items-center">show details</a>
                        <a href="" class="d-flex justify-content-center align-items-center">add to cart<i
                                class="bi bi-cart-plus"></i></a>
                    </figure>
                    <figure>
                        <div>
                            ی دانه عکس با طول 154 و عرض 148
                        </div>
                        <figcaption class="d-flex justify-content-center align-items-center">اسم کالا</figcaption>
                        <a href="" class="d-flex justify-content-center align-items-center">show details</a>
                        <a href="" class="d-flex justify-content-center align-items-center">add to cart<i
                                class="bi bi-cart-plus"></i></a>
                    </figure>
                    <figure>
                        <div>
                            ی دانه عکس با طول 154 و عرض 148
                        </div>
                        <figcaption class="d-flex justify-content-center align-items-center">اسم کالا</figcaption>
                        <a href="" class="d-flex justify-content-center align-items-center">show details</a>
                        <a href="" class="d-flex justify-content-center align-items-center">add to cart<i
                                class="bi bi-cart-plus"></i></a>
                    </figure>
                    <figure>
                        <div>
                            ی دانه عکس با طول 154 و عرض 148
                        </div>
                        <figcaption class="d-flex justify-content-center align-items-center">اسم کالا</figcaption>
                        <a href="" class="d-flex justify-content-center align-items-center">show details</a>
                        <a href="" class="d-flex justify-content-center align-items-center">add to cart<i
                                class="bi bi-cart-plus"></i></a>
                    </figure>
                    <figure>
                        <div>
                            ی دانه عکس با طول 154 و عرض 148
                        </div>
                        <figcaption class="d-flex justify-content-center align-items-center">اسم کالا</figcaption>
                        <a href="" class="d-flex justify-content-center align-items-center">show details</a>
                        <a href="" class="d-flex justify-content-center align-items-center">add to cart<i
                                class="bi bi-cart-plus"></i></a>
                    </figure>
                    <figure>
                        <div>
                            ی دانه عکس با طول 154 و عرض 148
                        </div>
                        <figcaption class="d-flex justify-content-center align-items-center">اسم کالا</figcaption>
                        <a href="" class="d-flex justify-content-center align-items-center">show details</a>
                        <a href="" class="d-flex justify-content-center align-items-center">add to cart<i
                                class="bi bi-cart-plus"></i></a>
                    </figure>
                    <figure>
                        <div>
                            ی دانه عکس با طول 154 و عرض 148
                        </div>
                        <figcaption class="d-flex justify-content-center align-items-center">اسم کالا</figcaption>
                        <a href="" class="d-flex justify-content-center align-items-center">show details</a>
                        <a href="" class="d-flex justify-content-center align-items-center">add to cart<i
                                class="bi bi-cart-plus"></i></a>
                    </figure>
                    <figure>
                        <div>
                            ی دانه عکس با طول 154 و عرض 148
                        </div>
                        <figcaption class="d-flex justify-content-center align-items-center">اسم کالا</figcaption>
                        <a href="" class="d-flex justify-content-center align-items-center">show details</a>
                        <a href="" class="d-flex justify-content-center align-items-center">add to cart<i
                                class="bi bi-cart-plus"></i></a>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../../statics/js/products.js"></script>
</body>
</html>