{% extends 'shared/_layout.html' %}

{% block title %}
    register with phone
{% endblock %}

{% block content %}
    <div class="container-fluid verify d-flex justify-content-center align-items-center">
        <div class="container-xxl d-flex justify-content-center align-items-center">
            <form class="verifyForm d-flex justify-content-center align-items-center flex-wrap h-50 px-4 py-5"
                  action="registry.php" method="post" name="ver">
                <input class="col-9" type="text" placeholder="enter verification code" name="verify">
                <span class="error col-9"></span>
                <button class="col-9">send</button>
            </form>
        </div>
    </div>
{% endblock %}