{% extends 'shared/_layout.html' %}
{% load poll_extras %}
{% load thumbnail %}

{% block title %}
    user order
{% endblock %}

{% block content %}
    <div class="container-fluid w-100 mt-5 d-flex justify-content-center align-items-center">
        <div class="container-fluid container-xxl d-flex justify-content-evenly align-items-start w-100 h-100 flex-wrap"
             id="order-detail-content">
            {% include 'user_panel/includes/cart_content.html' %}
        </div>
    </div>
{% endblock %}