<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../../../statics/stylesheet/normalize.css">
    <link rel="stylesheet" href="../../../statics/stylesheet/master.css">
    <link rel="stylesheet" href="../../../statics/stylesheet/local.css">
    <title>Document</title>
</head>
<body>
<div class="container-fluid w-100 d-flex justify-content-center align-items-center blogSingleContainer">
    <div class="container-fluid container-xxl d-flex justify-content-center align-items-center flex-wrap p-0 m-0">
        <div class="row col-12 col-lg-10 p-0 m-0 flex-wrap blogSingle justify-content-center align-items-center">
            <p class="px-3 col-6">posted in 9/9/2020 by eli</p>
            <div class="col-6 d-flex justify-content-end align-items-center px-3">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
            </div>
            <h3 class=" col-9 px-4 mb-4">ygh iuu09 9 090 9i i-i-0-0oijoijopo</h3>
            <figure class="blogMainImage d-flex justify-content-center align-items-center mb-5">800*400</figure>
            <div class="blogContent col-9 px-4 mb-4">
                <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio quam neque fuga veniam tenetur, amet
                    atque facere ab nisi harum perferendis et aperiam ducimus</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio quam neque fuga veniam tenetur, amet
                    atque facere ab nisi harum perferendis et aperiam ducimus, obcaecati expedita nobis mollitia, vitae
                    impedit temporibus veritatis rerum. Excepturi veritatis blanditiis culpa, veniam minus tenetur fuga
                    id quam eaque commodi ea dolorem enim sequi ab quidem expedita temporibus labore accusamus tempore
                    nihil eligendi placeat voluptatum? Accusamus laboriosam, quia in exercitationem architecto quibusdam
                    eligendi, ipsum aliquid accusantium molestias quo ducimus fuga velit possimus voluptas expedita
                    natus aliquam asperiores veritatis, necessitatibus ratione. Nobis doloribus qui nihil labore
                    voluptatibus dicta consequatur nemo, deleniti autem nam veniam quisquam? Nisi aperiam magni fugit
                    quibusdam, totam molestiae omnis deleniti quod ab ut amet hic nam eaque reiciendis explicabo
                    nesciunt iste, enim impedit fuga iusto, facere temporibus animi debitis inventore. Sapiente,
                    mollitia expedita. Iste, ut repellat blanditiis vel corrupti facilis nisi obcaecati consequuntur
                    facere porro beatae incidunt aliquam expedita esse optio laborum labore, distinctio eum recusandae
                    doloribus omnis perspiciatis soluta fuga suscipit. Quis incidunt dignissimos iste ipsa quaerat nemo,
                    culpa expedita similique hic autem quos officiis nam ipsum, illo, possimus magnam commodi deserunt
                    sequi. Dolorum maxime aspernatur accusamus officiis laudantium minus tempore, beatae, reiciendis,
                    maiores unde quod. Inventore repellat sit molestiae ut necessitatibus sunt dicta cum, alias facere,
                    earum ullam soluta dolore. Blanditiis voluptatum sint fuga recusandae ullam, voluptas sapiente,
                    tenetur temporibus perferendis consequuntur repellendus molestias ducimus? Quas unde dignissimos
                    eligendi neque expedita quibusdam aliquid facere eveniet fugit asperiores obcaecati rerum dolore
                    voluptas doloremque quod, cupiditate consequuntur aliquam at nihil deleniti. Dignissimos, saepe
                    dolorum repellendus magnam, quis quia at culpa, nam dicta accusantium aperiam? Odit quas iusto
                    temporibus ratione omnis reprehenderit laborum, nulla eligendi consequatur expedita veniam
                    repellendus consequuntur, sint aspernatur praesentium consectetur voluptatibus! Officia molestiae,
                    ut temporibus harum cupiditate corporis consequatur minus reiciendis, enim doloribus atque
                    reprehenderit sit amet iure animi laborum facilis odio necessitatibus repellat officiis autem.
                    Nihil, fuga! Impedit magnam earum, minima maiores deleniti iure voluptatem cupiditate totam ipsum
                    porro rerum necessitatibus laudantium reiciendis nisi perspiciatis! Quas molestiae, sequi quae
                    voluptates amet similique non natus nemo minima perferendis minus dolorem esse! Quaerat facilis
                    aliquam dolore quisquam quo, dolor eaque. Error expedita tenetur laborum at cupiditate distinctio
                    eos et praesentium, eum ea dolorem nisi deleniti minus voluptatibus voluptate repudiandae omnis,
                    porro id obcaecati excepturi esse? Eius, enim debitis? Nesciunt, enim. Porro in cupiditate
                    inventore, minima magnam provident delectus. Consequatur autem omnis at hic mollitia, vel quidem
                    minima recusandae accusantium? Iste.</p>
            </div>
            <h4 class="col-9 px-4 mb-3">comments</h4>
            <div class="col-9 d-flex px-4">
                <div class="customer col-3 p-0 m-0">
                    <a>
                        <img src="/statics/images/Customer.jpg" alt="">
                    </a>
                </div>
                <div class="customerComment col-6 d-flex flex-wrap">
                    <h6 class="commentTitle col-12 col-lg-4 px-2">
                        <i class="bi bi-person"></i>نویسنده</h6>
                    <h6 class="commentTitle col-6 col-lg-4 px-2">
                        <i class="bi bi-calendar2"></i>تاریخ</h6>
                    <h6 class="commentTitle col-6 col-lg-4">
                        <i class="bi bi-watch"></i>ساعت</h6>
                    <p class="col-12 px-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio quam neque fuga
                        veniam tenetur, amet
                        atque facere ab nisi harum perferendis et aperiam ducimus, obcaecati expedita nobis mollitia,
                        vitae
                        impedit temporibus veritatis rerum. Excepturi veritatis blanditiis culpa, veniam minus tenetur
                        fuga
                        id quam eaque commodi ea dolorem enim sequi ab quidem expedita temporibus labore accusamus
                        tempore
                        nihil eligendi placeat voluptatum? Accusamus laboriosam, quia in exercitationem architecto
                        quibusdam
                        eligendi, ipsum aliquid accusantium molestias quo ducimus fuga velit possimus voluptas expedita
                        natus aliquam asperiores veritatis, necessitatibus ratione. Nobis doloribus qui nihil labore
                        voluptatibus dicta consequatur nemo, deleniti autem nam veniam quisquam? Nisi aperiam magni
                        fugit
                        quibusdam, totam molestiae omnis deleniti quod ab ut amet hic nam eaque reiciendis explicabo
                        nesciunt iste, enim impedit fuga iusto, facere temporibus animi debitis inventore. Sapiente,
                        mollitia expedita. Iste, ut repellat blanditiis vel corrupti facilis nisi obcaecati consequuntur
                        facere porro beatae incidunt aliquam expedita esse optio</p>
                </div>
            </div>
            <h5 class="col-9 px-4 mb-3">نظر بدهید</h5>
            <div class="comment flex-wrap col-9 mb-3"
                 action="registerForm.php" method="post" autocomplete="off">
                        <textarea class="col-10 col-lg-6" name="comment" id="text_area" cols="30" rows="10"
                                  placeholder="write here..."></textarea>
                <button class="col-4 mb-3">send
                </button>
            </div>
        </div>
    </div>
</div>
</body>
</html>