{% load thumbnail %}

<div class="col-12 p-4 txt" id="comment_area">

    <h4 class="commentTitle col-12"><i></i>comments({{ comment_count }})</h4>
    <div class="row ps-5 py-4 recentComment">
        {% for comment in comments %}
            <div class="customer p-0 mb-2">
                <a>
                    {% if comment.user.avatar %}
                        {% thumbnail comment.user.avatar "100x100" crop='center' as im %}
                            <img src="{{ im.url }}" alt="">
                        {% endthumbnail %}
                    {% else %}
                        <img src="/statics/images/Customer.jpg" alt="">

                    {% endif %}
                </a>
            </div>
            <div class="customerComment d-flex flex-wrap mb-2">
                <h6 class="commentTitle"><i
                        class="bi bi-person"></i>{{ comment.user.username }}</h6>
                <h6 class="commentTitle"><i
                        class="bi bi-calendar2"></i>{{ comment.date | date }}</h6>
                <h6 class="commentTitle"><i
                        class="bi bi-watch"></i>{{ comment.date | time }}</h6>
                <p class="col-12 d-flex flex-wrap">{{ comment.text }}</p>
            </div>
        {% endfor %}

        {% if comment_count == 0 %}
            <p>there are no comments here</p>
            {% if request.user.is_authenticated %}
                <p>Be the First one...</p>
            {% endif %}
        {% endif %}

    </div>
    {% if request.user.is_authenticated %}
        <div class="comment mt-4 d-flex justify-content-start align-items-center flex-wrap"
             action="registerForm.php" method="post" autocomplete="off">
                        <textarea class="col-10 col-lg-6 me-5" name="comment" id="text_area" cols="30" rows="10"
                                  placeholder="write here..."></textarea>
            <button onclick="addProductComment({{ product.id }})" class="col-4 me-5">send</button>
        </div>
    {% else %}
        <p>you should <a href="{% url 'login_page' %}"> login </a> if you want to add comment</p>
    {% endif %}
</div>