{% load poll_extras %}
{% load thumbnail %}

<figure class="list">
    <div>
        {% thumbnail product.image "220x200" crop='center' as im %}
            <img src="{{ im.url }}" alt="">
        {% endthumbnail %}
    </div>
    <p class="d-flex justify-content-center align-items-center">
        {{ product.title }}</p>

    <h6 class="d-flex justify-content-center align-items-center">
        price: {{ product.price|three_digits_price }}</h6>

    <a class="d-flex justify-content-center align-items-center"
       href="{% url 'product_detail' slug=product.slug %}">detail
    </a>
    <a class="d-flex justify-content-center align-items-center" href="">add to
        cart<i
                class="bi bi-cart-plus"></i></a>
</figure>

