@media screen and (max-width: 576px) {
  .regByEmail{
    width: 80%;
  }
}
@media screen and (min-width: 576px) {
  .regByEmail{
    width: 80%;
  }
}
@media screen and (min-width:768px){
  .regByEmail{
    width: 60%;
  }
}
@media screen and (min-width: 992px) {
  .regByEmail{
    width: 34%;
  }
}
@media screen and (min-width: 1200px) {

}
@media screen and (min-width: 1400px){

}