.header{
  width: 100%;
  height: 20vh;
  position: relative;
  .mobileMenu{
    cursor: pointer;
  }
  >.desktopMenu{
    height: 10vh;
  >ul{
    //position: relative;
    padding-inline-end: 10px;
    >li{
      a{
        color: black;
        padding: 0;
        margin: 0;
        position: relative;
        &::after{
          padding: 0;
          margin: 0;
          content:'';
          width: 0%;
          height: 2px;
          background-color: rgb(129 , 189 , 117);
          position: absolute;
          z-index: 1;
          opacity: 1;
          bottom: 16px;
          left: 0%;
          transition: 0.4s;
        }
        &:hover{
          &::after{
            width: 100%;
          }
        }
      }
      >ul{
        >li{
          //div{
          //  width: 100%;
          //  background-color: purple;
          //  height: 200px;
          //  position: absolute;
          //  top: 20vh;
          //  left: 0;
          //}
        }
      }
    }
  }
}
}
.bi-list{
  transform: scale(2);
}
.emailReg , .phoneReg{
  margin: 40px auto;
  .row{
    height: 100%;
    .reg{
      width: 100%;
      height: 60%;
      border-radius: 10px;
      box-shadow: 0 0 20px gray;
      display: flex;
      flex-wrap: wrap;
      // ////////////////////////////
      >*{
        width: 100%;
        border: none;
        border-bottom: 2px solid gray;
        padding: 6px;
        margin: 10px;
      }
      button{
        border: none;
        border-radius: 6px;
        background-color: rgb(129 , 189 , 117);
        margin: 0;
      }
      .error{
        font-size: 18px;
        color: red;
        border: none;
      }
      // ////////////////////////////////////
    }
    .regType{
      a{
        color: rgb(129 , 189 , 117);
      }
    }
  }
  //button{
  //  border: none;
  //  border-radius: 6px;
  //  background-color: rgb(129 , 189 , 117);
  //}
  //input{
  //  border: none;
  //  border-bottom: 2px solid gray;
  //}
  //.error{
  //  font-size: 18px;
  //  color: red;
  //}
}
.login{
  margin: 200px auto;
  .loginForm{
    border-radius: 6px;
    box-shadow: 0 0 20px gray;
    >*{
      border: none;
      border-bottom: 2px solid gray;
      padding: 6px;
      margin: 10px;
    }
    button{
      border: none;
      border-radius: 6px;
      background-color: rgb(129 , 189 , 117);
    }
    .error{
      font-size: 18px;
      color: red;
      border: none;
    }
  }
}
.verify{
  margin: 200px auto;
  .verifyForm{
    border-radius: 6px;
    box-shadow: 0 0 20px gray;
    >*{
      border: none;
      border-bottom: 2px solid gray;
      padding: 6px;
      margin: 10px;
    }
    button{
      border: none;
      border-radius: 6px;
      background-color: rgb(129 , 189 , 117);
    }
    .error{
      font-size: 18px;
      color: red;
      border: none;
    }
  }
}