.header {
  width: 100%;
  height: 20vh;
  position: relative;

  .mobileMenu {
    cursor: pointer;
  }

  > .desktopMenu {
    height: 10vh;

    > ul {
      padding-inline-end: 10px;

      > li {
        padding: 0;
        margin: 0;

        .objects {
          color: black;
          padding: 0;
          margin: 0;
          position: relative;

          &::after {
            padding: 0;
            margin: 0;
            content: '';
            width: 0%;
            height: 2px;
            background-color: rgb(129, 189, 117);
            position: absolute;
            z-index: 1;
            opacity: 1;
            bottom: 16px;
            left: 5%;
            transition: 0.4s;
          }

          &:hover {
            &::after {
              width: 90%;
            }
          }
        }

        &:hover {
          .box1 {
            display: block;
            opacity: 1;
          }
        }

        transition: 1s;

        > ul {
          transition: 1s;

          > li {
            .box1 {
              transition: 1s;
              display: none;
              opacity: 0;
              border: 2px solid black;
              position: absolute;
              top: 20vh;
              left: 0;
              padding: 10px 0;
              background-color: white;
              z-index: 999;

              > ul {
                > li {
                  > a {
                    display: block;
                    width: 100%;
                    padding: 10px;
                    color: black;

                    > svg {
                      width: 20px;
                      height: 20px;
                      padding: 0;
                    }

                    &:hover {
                      color: rgb(129, 189, 117);
                    }
                  }

                  &:hover {
                    .box2 {
                      opacity: 1;
                      width: 400%;
                    }
                  }

                  .box2 {
                    opacity: 0;
                    border: 2px solid black;
                    width: 0;
                    transition: 1s;
                    background-color: white;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 100%;
                    column-count: 4;
                    padding: 20px 10px;
                    z-index: 999;

                    > * {
                      z-index: 996;
                      display: block;
                      padding: 2px 0 2px 6px;
                    }

                    > ul {
                      > li {
                        padding: 2px 0 2px 10px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.bi-list {
  transform: scale(2);
}

.emailReg, .phoneReg {
  margin: 40px auto;

  .row {
    height: 100%;

    .reg {
      width: 100%;
      height: 60%;
      border-radius: 10px;
      box-shadow: 0 0 20px gray;
      display: flex;
      flex-wrap: wrap;

      > * {
        width: 100%;
        //border: none;
        //border-bottom: 2px solid gray;
      }

      button {
        border: none;
        border-radius: 6px;
        background-color: rgb(129, 189, 117);
        margin: 0;
      }

      .error {
        font-size: 18px;
        color: red;
        border: none;
      }
    }

    .regType {
      a {
        color: rgb(129, 189, 117);
      }
    }
  }

  //button{
  //  border: none;
  //  border-radius: 6px;
  //  background-color: rgb(129 , 189 , 117);
  //}
  //input{
  //  border: none;
  //  border-bottom: 2px solid gray;
  //}
  //.error{
  //  font-size: 18px;
  //  color: red;
  //}
}

.login {
  margin: 200px auto;

  .loginForm {
    border-radius: 6px;
    box-shadow: 0 0 20px gray;

    > * {
      border: none;
      //border-bottom: 2px solid gray;
      padding: 6px;
      margin: 10px;
    }

    button {
      border: none;
      border-radius: 6px;
      background-color: rgb(129, 189, 117);
    }

    .error {
      font-size: 18px;
      color: red;
      border: none;
    }
  }
}

.verify {
  margin: 200px auto;

  .verifyForm {
    border-radius: 6px;
    box-shadow: 0 0 20px gray;

    > * {
      border: none;
      border-bottom: 2px solid gray;
      padding: 6px;
      margin: 10px;
    }

    button {
      border: none;
      border-radius: 6px;
      background-color: rgb(129, 189, 117);
    }

    .error {
      font-size: 18px;
      color: red;
      border: none;
    }
  }
}

//.label_tag {
//  border: none;
//}

.slideC {
  height: auto;
}

.slide {
  //padding-top: 20px;
  width: 100%;
  //height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .slider {
    width: 100%;
    //height: 40%;
    position: relative;

    > .window {
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;

      > span {
        position: absolute;
        top: 44%;
        font-size: 40px;
        cursor: pointer;
        opacity: 1;
        z-index: 10;
        color: gray;

        &:hover {
          color: black;
        }
      }
    }

    #right {
      right: 4%;
    }

    #left {
      left: 4%;
      display: none;
    }

    #bus {
      height: 100%;
      display: flex;
      transition: 1s;
    }

    #bus > figure {
      width: 100%;
      height: 100%;
      cursor: pointer;
    }

    #bus > figure > div {
      border: 2px solid black;
      width: 100%;
      height: 100%;
      object-fit: cover;

      > img {
        width: 100%;
        height: 100%;
      }
    }

    .thumbnail {
      width: 150px;
      height: 20px;
      display: flex;
      position: absolute;
      right: 40px;
      bottom: 40px;
      cursor: pointer;

      > .thumb {
        width: 10px;
        height: 10px;
        background-color: gray;
        position: absolute;
        cursor: pointer;
        z-index: 1;
        border-radius: 50%;

        &:nth-of-type(1) {
          bottom: 5%;
          right: 20px;
        }

        &:nth-of-type(2) {
          bottom: 5%;
          right: 40px;
        }

        &:nth-of-type(3) {
          bottom: 5%;
          right: 60px;
        }

        &:nth-of-type(4) {
          bottom: 5%;
          right: 80px;
        }

        &:nth-of-type(5) {
          bottom: 5%;
          right: 100px;
        }

        &:nth-of-type(6) {
          bottom: 5%;
          right: 120px;
        }
      }
    }
  }
}

.classification {
  border: 2px solid black;
  //min-height: 400px;
  //background-color: rgb(129, 189, 117);
}

.slide2 {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;

  .slider2 {
    width: 100%;

    > .window2 {
      width: 100%;
      height: 100%;
      position: relative;
      border-radius: 10px;
      background-color: rgb(129, 189, 117);
      overflow-x: hidden;

      > span {
        position: absolute;
        top: 44%;
        font-size: 40px;
        cursor: pointer;
        opacity: 1;
        z-index: 10;
        color: gray;

        &:hover {
          color: black;
        }
      }
    }

    #right2 {
      right: 4%;
    }

    #left2 {
      left: 4%;
      display: none;
      z-index: 1;
    }

    #bus2 {
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      transition: 1s;
      border-radius: 10px;
      background-color: rgb(129, 189, 117);

      > section {
        border: 2px solid black;
        width: 300px;
        margin: 10px;
        height: 100%;
      }
    }

    #bus2 > figure {
      border: 2px solid black;
      width: 300px;
      margin: 10px;
      height: 100%;
    }

    #bus2 > figure > div {
      border: 2px solid black;
      width: 80%;
      height: 60%;
      margin: 4% 10%;
      border: 2px solid black;
    }

    #bus2 > figure > div > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border: 2px solid black;
    }
  }
}

.icon {
  font-size: 30px;
  transition: 1s;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #adadad;

  &:hover {
    transform: rotateY(180deg);
  }
}

.footer {
  background-color: rgb(129, 189, 117);
}

.slideC3 {
  height: auto;
}

.slide3 {
  //padding-top: 20px;
  width: 100%;
  //height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .slider3 {
    width: 100%;
    //height: 40%;
    position: relative;

    > .window3 {
      //width: 50%;
      //margin: 20px;
      height: 100%;
      overflow: hidden;
      position: relative;

      > span {
        position: absolute;
        top: 44%;
        font-size: 40px;
        cursor: pointer;
        opacity: 1;
        z-index: 10;
        color: gray;

        &:hover {
          color: rgb(129, 189, 117);
        }
      }
    }

    #right3 {
      right: 14%;
    }

    #left3 {
      left: 14%;
      display: none;
      z-index: 900;
    }

    #bus3 {
      height: 100%;
      display: flex;
      transition: 1s;
    }

    #bus3 > figure {
      width: 100%;
      height: 100%;
      //cursor: pointer;
      //border: 2px solid black;
      margin: 20px 0;
    }

    #bus3 > figure > div {
      border: 2px solid black;
      width: 80%;
      height: 80%;
      object-fit: cover;
      margin: 0 10%;

      > img {
        width: 100%;
        height: 100%;
      }
    }

    .thumbnail {
      width: 150px;
      height: 20px;
      display: flex;
      position: absolute;
      left: 16%;
      bottom: 8%;
      //cursor: pointer;
      //border: 2px solid black;

      > .thumb {
        width: 10px;
        height: 10px;
        background-color: gray;
        position: absolute;
        //cursor: pointer;
        z-index: 1;
        border-radius: 50%;

        &:nth-of-type(1) {
          bottom: 5%;
          left: 20px;
        }

        &:nth-of-type(2) {
          bottom: 5%;
          left: 40px;
        }

        &:nth-of-type(3) {
          bottom: 5%;
          left: 60px;
        }
      }
    }
    .text{
      height: 100%;
      //border: 2px solid black;
    }
  }
}
.addToCart{
    //width: 40px;
    //height: 20px;
  padding: 6px 30px;
    border-radius: 6px;
  background-color: rgb(129, 189, 117);
  cursor: pointer;
}
.counter{
  border-radius: 6px;
  //padding: 6px;
  border: 0.6px solid gray;
  >*{
    width: 40px;
    height: 40px;
    color: rgb(129, 189, 117);
  }
  >h4{
    width: 50px;
    background-color: white;
  }
  >div{
    font-size: 30px;
    cursor: pointer;
  }
  .bi{
    font-size: 16px;
  }
}
.count{
  //opacity: 0;
  display: none;
  //background-color: plum;
}