.circleB {
  width: 40px;
  height: 40px;
  border: 2px solid black;
  display: block;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.circleS {
  width: 4px;
  height: 4px;
  background-color: black;
  transition: 0.4s ease-in-out;
  display: block;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.header {
  width: 100%;
  height: 20vh;
  position: relative;
}
.header .mobileMenu {
  cursor: pointer;
}
.header > .desktopMenu {
  height: 10vh;
}
.header > .desktopMenu > ul {
  padding-inline-end: 10px;
}
.header > .desktopMenu > ul > li {
  padding: 0;
  margin: 0;
  transition: 1s;
}
.header > .desktopMenu > ul > li .objects {
  color: black;
  padding: 0;
  margin: 0;
  position: relative;
}
.header > .desktopMenu > ul > li .objects::after {
  padding: 0;
  margin: 0;
  content: "";
  width: 0%;
  height: 2px;
  background-color: rgb(129, 189, 117);
  position: absolute;
  z-index: 1;
  opacity: 1;
  bottom: 16px;
  left: 5%;
  transition: 0.4s;
}
.header > .desktopMenu > ul > li .objects:hover::after {
  width: 90%;
}
.header > .desktopMenu > ul > li:hover .box1 {
  display: block;
  opacity: 1;
}
.header > .desktopMenu > ul > li > ul {
  transition: 1s;
}
.header > .desktopMenu > ul > li > ul > li .box1 {
  transition: 1s;
  display: none;
  opacity: 0;
  border: 2px solid black;
  position: absolute;
  top: 20vh;
  left: 0;
  padding: 10px 0;
}
.header > .desktopMenu > ul > li > ul > li .box1 > ul > li > a {
  display: block;
  width: 100%;
  padding: 10px;
  color: black;
}
.header > .desktopMenu > ul > li > ul > li .box1 > ul > li > a > svg {
  width: 20px;
  height: 20px;
  padding: 0;
}
.header > .desktopMenu > ul > li > ul > li .box1 > ul > li > a:hover {
  color: rgb(129, 189, 117);
}
.header > .desktopMenu > ul > li > ul > li .box1 > ul > li:hover .box2 {
  opacity: 1;
  width: 400%;
}
.header > .desktopMenu > ul > li > ul > li .box1 > ul > li .box2 {
  opacity: 0;
  border: 2px solid black;
  width: 0;
  transition: 1s;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  column-count: 4;
  padding: 20px 10px;
}
.header > .desktopMenu > ul > li > ul > li .box1 > ul > li .box2 > * {
  z-index: 996;
  display: block;
  padding: 2px 0 2px 6px;
}
.header > .desktopMenu > ul > li > ul > li .box1 > ul > li .box2 > ul > li {
  padding: 2px 0 2px 10px;
}

.bi-list {
  transform: scale(2);
}

.emailReg, .phoneReg {
  margin: 40px auto;
}
.emailReg .row, .phoneReg .row {
  height: 100%;
}
.emailReg .row .reg, .phoneReg .row .reg {
  width: 100%;
  height: 60%;
  border-radius: 10px;
  box-shadow: 0 0 20px gray;
  display: flex;
  flex-wrap: wrap;
}
.emailReg .row .reg > *, .phoneReg .row .reg > * {
  width: 100%;
  border: none;
  border-bottom: 2px solid gray;
  padding: 6px;
  margin: 10px;
}
.emailReg .row .reg button, .phoneReg .row .reg button {
  border: none;
  border-radius: 6px;
  background-color: rgb(129, 189, 117);
  margin: 0;
}
.emailReg .row .reg .error, .phoneReg .row .reg .error {
  font-size: 18px;
  color: red;
  border: none;
}
.emailReg .row .regType a, .phoneReg .row .regType a {
  color: rgb(129, 189, 117);
}

.login {
  margin: 200px auto;
}
.login .loginForm {
  border-radius: 6px;
  box-shadow: 0 0 20px gray;
}
.login .loginForm > * {
  border: none;
  border-bottom: 2px solid gray;
  padding: 6px;
  margin: 10px;
}
.login .loginForm button {
  border: none;
  border-radius: 6px;
  background-color: rgb(129, 189, 117);
}
.login .loginForm .error {
  font-size: 18px;
  color: red;
  border: none;
}

.verify {
  margin: 200px auto;
}
.verify .verifyForm {
  border-radius: 6px;
  box-shadow: 0 0 20px gray;
}
.verify .verifyForm > * {
  border: none;
  border-bottom: 2px solid gray;
  padding: 6px;
  margin: 10px;
}
.verify .verifyForm button {
  border: none;
  border-radius: 6px;
  background-color: rgb(129, 189, 117);
}
.verify .verifyForm .error {
  font-size: 18px;
  color: red;
  border: none;
}

/*# sourceMappingURL=master.css.map */
