.header {
  width: 100%;
  height: 100px;
  position: relative;
}
.header .mobileMenu {
  cursor: pointer;
}
.header > .desktopMenu > ul {
  padding-inline-end: 10px;
}
.header > .desktopMenu > ul > li {
  padding: 0;
  margin: 0;
  transition: 1s;
}
.header > .desktopMenu > ul > li .objects {
  color: black;
  padding: 0;
  margin: 0;
  position: relative;
}
.header > .desktopMenu > ul > li .objects::after {
  padding: 0;
  margin: 0;
  content: "";
  width: 0%;
  height: 2px;
  background-color: rgb(129, 189, 117);
  position: absolute;
  z-index: 1;
  opacity: 1;
  bottom: 0;
  left: 5%;
  transition: 0.4s;
}
.header > .desktopMenu > ul > li .objects:hover::after {
  width: 90%;
}
.header > .desktopMenu > ul > li:hover .box1 {
  display: block;
  opacity: 1;
}
.header > .desktopMenu > ul > li > ul {
  transition: 1s;
}
.header > .desktopMenu > ul > li > ul > li .box1 {
  transition: 1s;
  display: none;
  opacity: 0;
  border: 2px solid black;
  position: absolute;
  top: 100px;
  left: 0;
  padding: 10px 0;
  background-color: white;
  z-index: 999;
}
.header > .desktopMenu > ul > li > ul > li .box1 > ul > li > a {
  display: block;
  width: 100%;
  padding: 10px;
  color: black;
}
.header > .desktopMenu > ul > li > ul > li .box1 > ul > li > a > svg {
  width: 20px;
  height: 20px;
  padding: 0;
}
.header > .desktopMenu > ul > li > ul > li .box1 > ul > li > a:hover {
  color: rgb(129, 189, 117);
}
.header > .desktopMenu > ul > li > ul > li .box1 > ul > li:hover .box2 {
  opacity: 1;
  width: 400%;
}
.header > .desktopMenu > ul > li > ul > li .box1 > ul > li .box2 {
  opacity: 0;
  border: 2px solid black;
  width: 0;
  transition: 1s;
  background-color: white;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  column-count: 4;
  padding: 20px 10px;
  z-index: 999;
}
.header > .desktopMenu > ul > li > ul > li .box1 > ul > li .box2 > * {
  z-index: 996;
  display: block;
  padding: 2px 0 2px 6px;
}
.header > .desktopMenu > ul > li > ul > li .box1 > ul > li .box2 > ul > li {
  padding: 2px 0 2px 10px;
}

.bi-list {
  transform: scale(2);
}

.emailReg, .phoneReg {
  margin: 40px auto;
}
.emailReg .row, .phoneReg .row {
  height: 100%;
}
.emailReg .row .reg, .phoneReg .row .reg {
  width: 100%;
  height: 60%;
  border-radius: 10px;
  box-shadow: 0 0 20px gray;
  display: flex;
  flex-wrap: wrap;
}
.emailReg .row .reg > *, .phoneReg .row .reg > * {
  width: 100%;
}
.emailReg .row .reg button, .phoneReg .row .reg button {
  border: none;
  border-radius: 6px;
  background-color: rgb(129, 189, 117);
  margin: 0;
}
.emailReg .row .reg .error, .phoneReg .row .reg .error {
  font-size: 18px;
  color: red;
  border: none;
}
.emailReg .row .regType a, .phoneReg .row .regType a {
  color: rgb(129, 189, 117);
}

.login {
  margin: 200px auto;
}
.login .loginForm {
  border-radius: 6px;
  box-shadow: 0 0 20px gray;
}
.login .loginForm > * {
  border: none;
  padding: 6px;
  margin: 10px;
}
.login .loginForm button {
  border: none;
  border-radius: 6px;
  background-color: rgb(129, 189, 117);
}
.login .loginForm .error {
  font-size: 18px;
  color: red;
  border: none;
}

.verify {
  margin: 200px auto;
}
.verify .verifyForm {
  border-radius: 6px;
  box-shadow: 0 0 20px gray;
}
.verify .verifyForm > * {
  border: none;
  border-bottom: 2px solid gray;
  padding: 6px;
  margin: 10px;
}
.verify .verifyForm button {
  border: none;
  border-radius: 6px;
  background-color: rgb(129, 189, 117);
}
.verify .verifyForm .error {
  font-size: 18px;
  color: red;
  border: none;
}

.slideC {
  height: auto;
}

.slide {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide .slider {
  width: 100%;
  position: relative;
}
.slide .slider > .window {
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
}
.slide .slider > .window > span {
  position: absolute;
  top: 44%;
  font-size: 40px;
  cursor: pointer;
  opacity: 1;
  z-index: 10;
  color: gray;
}
.slide .slider > .window > span:hover {
  color: rgb(129, 189, 117);
}
.slide .slider #right {
  right: 4%;
}
.slide .slider #left {
  left: 4%;
  display: none;
}
.slide .slider #bus {
  height: 100%;
  display: flex;
  transition: 1s;
}
.slide .slider #bus > figure {
  width: 100%;
  height: 400px;
  cursor: pointer;
}
.slide .slider #bus > figure > div {
  border: 2px solid black;
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.slide .slider #bus > figure > div > img {
  width: 100%;
  height: 100%;
}
.slide .slider .thumbnail {
  width: 150px;
  height: 20px;
  display: flex;
  position: absolute;
  left: 40px;
  bottom: 40px;
  cursor: pointer;
}
.slide .slider .thumbnail > .thumb {
  width: 10px;
  height: 10px;
  background-color: gray;
  position: absolute;
  cursor: pointer;
  z-index: 1;
  border-radius: 50%;
}
.slide .slider .thumbnail > .thumb:nth-of-type(1) {
  bottom: 5%;
  left: 20px;
  background-color: rgb(129, 189, 117);
}
.slide .slider .thumbnail > .thumb:nth-of-type(2) {
  bottom: 5%;
  left: 40px;
}
.slide .slider .thumbnail > .thumb:nth-of-type(3) {
  bottom: 5%;
  left: 60px;
}
.slide .slider .thumbnail > .thumb:nth-of-type(4) {
  bottom: 5%;
  left: 80px;
}
.slide .slider .thumbnail > .thumb:nth-of-type(5) {
  bottom: 5%;
  left: 100px;
}
.slide .slider .thumbnail > .thumb:nth-of-type(6) {
  bottom: 5%;
  left: 120px;
}

.classification {
  border: 2px solid black;
  width: 324px;
  height: 160px;
}

.slide2 {
  width: 100%;
  height: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide2 .slider2 {
  width: 100%;
}
.slide2 .slider2 > .window2 {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 10px;
  background-color: rgb(129, 189, 117);
  overflow-x: hidden;
}
.slide2 .slider2 > .window2 > span {
  position: absolute;
  top: 44%;
  font-size: 40px;
  cursor: pointer;
  z-index: 10;
  color: gray;
}
.slide2 .slider2 > .window2 > span:hover {
  color: black;
}
.slide2 .slider2 .right2 {
  right: 4%;
}
.slide2 .slider2 .left2 {
  left: 4%;
  display: none;
  z-index: 1;
}
.slide2 .slider2 .bus2 {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: 1s;
  border-radius: 10px;
  background-color: rgb(129, 189, 117);
}
.slide2 .slider2 .bus2 > section {
  border: 2px solid black;
  width: 300px;
  margin: 10px;
  height: 100%;
}
.slide2 .slider2 .bus2 > figure {
  border: 2px solid black;
  width: 300px;
  margin: 10px;
  height: 100%;
}
.slide2 .slider2 .bus2 > figure > div {
  border: 2px solid black;
  width: 260px;
  height: 200px;
  margin: 10px auto;
}
.slide2 .slider2 .bus2 > figure > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid black;
}

.icon {
  font-size: 30px;
  transition: 1s;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #adadad;
}
.icon:hover {
  transform: rotateY(180deg);
}

.foot {
  background-color: rgb(129, 189, 117);
  height: auto;
}
.foot > * {
  background-color: rgb(129, 189, 117);
}

.footerS {
  background-color: rgb(129, 189, 117);
}

.slideC3 {
  height: auto;
}

.slide3 {
  display: flex;
  justify-content: center;
}
.slide3 .slider3 {
  position: relative;
}
.slide3 .slider3 > .window3 {
  width: 600px;
  height: 600px;
  overflow: hidden;
  position: relative;
  margin: 20px auto;
}
.slide3 .slider3 > .window3 > span {
  position: absolute;
  top: 44%;
  font-size: 40px;
  cursor: pointer;
  opacity: 1;
  z-index: 10;
  color: gray;
}
.slide3 .slider3 > .window3 > span:hover {
  color: rgb(129, 189, 117);
}
.slide3 .slider3 #right3 {
  right: 14%;
}
.slide3 .slider3 #left3 {
  left: 14%;
  display: none;
  z-index: 900;
}
.slide3 .slider3 #bus3 {
  height: 100%;
  display: flex;
  transition: 1s;
}
.slide3 .slider3 #bus3 > figure {
  width: 600px;
  height: 600px;
  padding: 50px 0;
}
.slide3 .slider3 #bus3 > figure > div {
  border: 2px solid black;
  width: 560px;
  height: 500px;
  object-fit: cover;
  margin: 0 auto;
}
.slide3 .slider3 #bus3 > figure > div > img {
  width: 100%;
  height: 100%;
}
.slide3 .slider3 .thumbnail {
  width: 150px;
  height: 20px;
  display: flex;
  position: absolute;
  left: 16%;
  bottom: 20%;
}
.slide3 .slider3 .thumbnail > .thumb {
  width: 10px;
  height: 10px;
  background-color: gray;
  position: absolute;
  z-index: 1;
  border-radius: 50%;
}
.slide3 .slider3 .thumbnail > .thumb:nth-of-type(1) {
  bottom: 5%;
  left: 20px;
}
.slide3 .slider3 .thumbnail > .thumb:nth-of-type(2) {
  bottom: 5%;
  left: 40px;
}
.slide3 .slider3 .thumbnail > .thumb:nth-of-type(3) {
  bottom: 5%;
  left: 60px;
}
.slide3 .slider3 .text {
  height: 100%;
}

.addToCart {
  padding: 6px 30px;
  border-radius: 6px;
  background-color: rgb(129, 189, 117);
  cursor: pointer;
}

.counter {
  border-radius: 6px;
  border: 0.6px solid gray;
}
.counter > * {
  width: 40px;
  height: 40px;
  color: rgb(129, 189, 117);
}
.counter > h4 {
  width: 50px;
  background-color: white;
}
.counter > div {
  font-size: 30px;
  cursor: pointer;
}
.counter .bi {
  font-size: 16px;
}

.details {
  background-color: rgb(129, 189, 117);
}
.details > li {
  cursor: pointer;
}
.details > li:hover {
  background-color: gray;
}

.txt {
  display: none;
  z-index: 990;
}
.txt:nth-of-type(1) {
  display: block;
}

.moveR {
  opacity: 0;
  right: 10%;
  animation: moveToRight 1.4s linear infinite alternate;
}

@keyframes moveToRight {
  to {
    right: 0;
    opacity: 1;
  }
}
.moveL {
  opacity: 0;
  left: 10%;
  animation: moveToLeft 1.4s linear infinite alternate;
}

@keyframes moveToLeft {
  to {
    left: 0;
    opacity: 1;
  }
}
.sendDetails {
  border: none;
  border-radius: 6px;
  background-color: rgb(129, 189, 117);
  padding: 6px 20px;
  margin: 8px 4px 4px 4px;
}

.commentTitle {
  color: rgb(129, 189, 117);
}

.comment {
  border: 0.6px solid #2d2d2d;
  border-radius: 6px;
}
.comment textarea {
  padding: 6px;
  margin: 20px;
  border-radius: 6px;
  border: 0.6px solid #2d2d2d;
}
.comment button {
  border: none;
  border-radius: 6px;
  background-color: rgb(129, 189, 117);
  padding: 6px 20px;
  margin: 8px 6% 16px 10%;
}

.acc {
  width: 100%;
}

.acc > li {
  width: 100%;
  list-style-type: none;
}

.acc > li > .row1 {
  height: 20px;
  cursor: pointer;
  display: flex;
  flex-wrap: nowrap;
}

.acc > li > .row1 > * {
  transition: 1s;
}

.acc > li > .row1 > h2 {
  width: 90%;
  height: 100%;
  background-color: wheat;
  display: flex;
  align-items: center;
}

.acc > li > .row1 > span {
  width: 10%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.acc > li > .row2 {
  text-align: justify;
  display: none;
  margin-left: 20px;
}
.acc > li > .row2 > * {
  width: 100%;
  display: block;
  padding: 2px;
}

.recentComment {
  display: flex;
  width: 75%;
}

.customer {
  border: 2px solid black;
  width: 100px;
  height: 100px;
}
.customer img {
  width: 100px;
  height: 100px;
}

.answer {
  position: relative;
  height: 40px;
}
.answer > a {
  position: absolute;
  border-radius: 6px;
  background-color: rgb(129, 189, 117);
  width: 80px;
  height: 100%;
  right: 5%;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 0.4px solid #2d2d2d;
  outline: 0.6px solid #2d2d2d;
  outline-offset: 3px;
  cursor: pointer;
  position: relative;
}
.color > .choose {
  position: absolute;
  left: -2px;
  top: -6px;
  color: rgb(129, 189, 117);
  font-size: 20px;
  display: none;
}
.color:nth-of-type(1) {
  background-color: black;
  display: block;
  outline: 2px solid rgb(129, 189, 117);
}
.color:nth-of-type(1) > .choose {
  display: block;
}
.color:nth-of-type(2) {
  background-color: white;
}
.color:nth-of-type(3) {
  background-color: yellow;
}
.color:nth-of-type(4) {
  background-color: blue;
}
.color:nth-of-type(5) {
  background-color: red;
}
.color:nth-of-type(6) {
  background-color: plum;
}

.list {
  width: 260px;
  height: 360px;
  border: 2px solid black;
}
.list > div {
  width: 220px;
  height: 200px;
  border: 2px solid black;
  margin: 10px auto;
}
.list > div > img {
  width: 100%;
  height: 100%;
}

.productList {
  display: none;
}
.productList:nth-of-type(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.showList {
  width: 40px;
  height: 40px;
  border: 2px solid rgb(129, 189, 117);
}
.showList:nth-of-type(1) {
  background-color: rgb(129, 189, 117);
}

.aboutImage {
  width: 474px;
  height: 160px;
  border: 2px solid black;
}

.rangeOfPrice {
  display: none;
}

.priceFilter {
  display: flex;
  justify-content: start;
  align-items: center;
}
.priceFilter > span {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
}

.cartTitle {
  height: 60px;
  background-color: rgb(129, 189, 117);
}

.cartProduct {
  height: 140px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.cartImage {
  border: 2px solid black;
  width: 120px;
  height: 120px;
}

.quantity {
  border-radius: 6px;
  border: 0.6px solid gray;
}
.quantity > * {
  width: 30px;
  height: 30px;
  color: rgb(129, 189, 117);
  font-size: 20px;
}
.quantity > h4 {
  width: 50px;
}
.quantity .bi {
  font-size: 16px;
}

.returnProduct {
  display: none;
}

.returnP, .deleteP, .cartDelete {
  cursor: pointer;
}

.cartDelete {
  color: rgb(129, 189, 117);
}

.showDiscountCodeChild {
  width: 20px;
  height: 20px;
  transition: 1s;
}

.discountCode {
  display: none;
}

.sendDiscountCode, .cartButton {
  border: none;
  border-radius: 6px;
  background-color: rgb(129, 189, 117);
  padding: 6px 20px;
}

.detailsOfCartPrice {
  border: 1px solid rgb(129, 189, 117);
  border-radius: 6px;
}

.accountSection > div {
  display: none;
  border-radius: 10px;
  border: 0.6px solid #414141;
  padding: 20px;
}
.accountSection > div:nth-of-type(1) {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}

.summeryOfActivities, .orders, .opinions, .addresses, .messages, .recentVisits, .userAccountInformation {
  cursor: pointer;
}

.summeryOfActivitiesSection, .ordersSection, .opinionsSection, .addressesSection, .messagesSection, .recentVisitsSection, .userAccountInformationSection {
  border-radius: 10px;
  border: 0.6px solid #414141;
  padding: 20px;
}

.orderStatus {
  height: 140px;
}
.orderStatus .bi-bag, .orderStatus .bi-bag-check {
  font-size: 80px;
}

.summeryOfActivitiesSection {
  padding: 20px;
}

.editInformation {
  border-radius: 6px;
  border: 0.6px solid #858585;
  padding: 10px 6px;
}

.userMenu {
  border-radius: 10px;
  border: 0.6px solid #414141;
}
.userMenu > ul > li {
  border-radius: 10px;
}
.userMenu > ul > li:nth-of-type(1) {
  color: rgb(129, 189, 117);
}

.order {
  margin-bottom: 10px;
  height: 60px;
}

.bi-three-dots-vertical {
  cursor: pointer;
}

.address {
  position: relative;
}

.newAddress {
  display: none;
}

.addressOptions {
  width: 160px;
  position: absolute;
  right: 24px;
  top: 24px;
  transition: 1s;
  display: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 6px;
  box-shadow: 0 0 4px #868686;
}
.addressOptions > * {
  padding: 6px;
}

.threeDotsMenu {
  position: absolute;
  top: 0;
  right: 20px;
}

.addLocation, .showAddresses {
  width: 300px;
  height: 60px;
  border-radius: 6px;
  cursor: pointer;
}

.showAddresses {
  color: rgb(129, 189, 117);
}

.recentVisitedProduct {
  width: 200px;
  height: 200px;
  border: 2px solid black;
}

.sliderContainer {
  height: 300px;
  position: relative;
  overflow-x: hidden;
}
.sliderContainer > span {
  position: absolute;
  top: 44%;
  width: 40px;
  height: 40px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  color: gray;
}
.sliderContainer > span:hover {
  color: rgb(129, 189, 117);
}
.sliderContainer .rightMove {
  right: 4%;
}
.sliderContainer .leftMove {
  left: 4%;
  display: none;
}
.sliderContainer .busSlider {
  height: 100%;
  transition: 1s;
  position: absolute;
  top: 0;
  left: 0;
}
.sliderContainer .busSlider > .ordersSlider {
  width: 300px;
  height: 300px;
  border: 2px solid black;
  margin: 0 10px;
}

.recentOrder {
  color: rgb(129, 189, 117);
}

.deliveredProductsSlider {
  display: none;
}

.customerComment {
  position: relative;
}

.threeDotsMenuOpinion {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  cursor: pointer;
}

.opinionOptions {
  width: 160px;
  position: absolute;
  right: 10px;
  top: 24px;
  transition: 1s;
  display: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 6px;
  box-shadow: 0 0 4px #868686;
  padding: 6px;
}

.error404 {
  width: 500px;
  height: 300px;
  margin: 100px auto;
}
.error404 > * {
  width: 100%;
  height: 100%;
}

.goToMainPage, .blogLink {
  font-size: 24px;
  padding: 6px 10px;
  background-color: rgb(129, 189, 117);
  display: block;
  width: 244px;
  height: 60px;
  margin: 10px auto;
  border-radius: 40px;
  position: relative;
  transition: 0.4s;
}
.goToMainPage:hover, .blogLink:hover {
  width: 260px;
}
.goToMainPage > *, .blogLink > * {
  position: absolute;
}
.goToMainPage > span, .blogLink > span {
  left: 20px;
  top: 14%;
}
.goToMainPage .bi, .blogLink .bi {
  right: 20px;
  top: 20%;
}

.chosen {
  color: rgb(129, 189, 117);
}
.chosen:hover {
  color: rgb(129, 189, 117);
}

.contactWays, .contactUs {
  height: 80vh;
}

.contactWays {
  background-color: rgb(129, 189, 117);
  color: white;
  border-radius: 10px 0 0 10px;
  margin: 60px;
}

.bi-circle-fill:nth-of-type(1) {
  color: red;
}
.bi-circle-fill:nth-of-type(2) {
  color: orange;
}
.bi-circle-fill:nth-of-type(3) {
  color: yellow;
}

.contactContent {
  margin-bottom: 200px;
}

.contactLinks {
  font-size: 24px;
}
.contactLinks > a {
  color: white;
}

.contactContainer {
  padding: 10vh 0;
  background-color: rgb(216, 245, 211);
}

.contactUs {
  background-color: white;
  border-radius: 0 10px 10px 0;
}
.contactUs > * {
  padding-left: 80px;
}
.contactUs > div > * {
  width: 200px;
  height: 36px;
  padding-left: 6px;
  border-radius: 6px;
  border: 0.6px solid #868686;
}
.contactUs textarea {
  width: 360px;
  height: 160px;
  padding: 6px;
}
.contactUs button {
  width: 360px;
  height: 50px;
  background-color: rgb(129, 189, 117);
  border: none;
}

.blogSingleContainer {
  background-color: rgb(216, 245, 211);
  padding: 100px 0;
}

.blogSingle {
  border-radius: 10px;
  background-color: white;
}

.blogContent {
  text-align: justify;
}

.bi-star-fill, .bi-star-half, .bi-star {
  color: #d7d712;
}

.blogImage {
  height: 360px;
}
.blogImage > * {
  width: 600px;
  height: 360px;
  border: 2px solid black;
}

.article {
  min-height: 360px;
}

.blogLink {
  margin: 10px 0;
}

.blogImage2 {
  width: 320px;
  height: 240px;
  border: 2px solid black;
}

.article2 {
  max-height: 240px;
}
.article2 > div {
  height: 2px;
  border-radius: 40px;
  background-color: gray;
}

/*# sourceMappingURL=master.css.map */
