<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../../../statics/stylesheet/normalize.css">
    <link rel="stylesheet" href="../../../statics/stylesheet/master.css">
    <link rel="stylesheet" href="../../../statics/stylesheet/local.css">
    <title>Document</title>
</head>
<body>
<div class="container-fluid d-flex justify-content-center p-0 m-0 bg-danger">
    <div class="container-xxl d-flex justify-content-center h-100 p-0 m-0 w-100 flex-wrap bg-warning">
        <div class="col-12 col-lg-8 p-0 m-0 d-flex justify-content-evenly flex-wrap bg-success pt-5">

            <div class="col-12 bg-info bg-success productList">
                <div class="col-12 d-flex justify-content-evenly flex-wrap">
                    <figure class="list">
                        <div>
                            طول 220 و عرض200
                        </div>
                        <h4 class="d-flex justify-content-center align-items-center">قیمت : 587970$</h4>
                        <a class="d-flex justify-content-center align-items-center" href="">مشاهده ی جزییات</a>
                        <a class="d-flex justify-content-center align-items-center" href="">add to cart<i
                                class="bi bi-cart-plus"></i></a>
                    </figure>
                    <figure class="list">
                        <div>1</div>
                    </figure>
                    <figure class="list">
                        <div></div>
                    </figure>
                    <figure class="list">
                        <div></div>
                    </figure>
                    <figure class="list">
                        <div></div>
                    </figure>
                    <figure class="list">
                        <div></div>
                    </figure>
                    <figure class="list">
                        <div></div>
                    </figure>
                    <figure class="list">
                        <div></div>
                    </figure>
                    <figure class="list">
                        <div></div>
                    </figure>
                    <figure class="list">
                        <div></div>
                    </figure>
                    <figure class="list">
                        <div></div>
                    </figure>
                    <figure class="list">
                        <div></div>
                    </figure>
                </div>
            </div>

            <div class="col-12 bg-info bg-success productList">
                <div class="col-12 d-flex justify-content-evenly flex-wrap">
                    <figure class="list">
                        <div>
                            طول 220 و عرض200
                        </div>
                        <h4 class="d-flex justify-content-center align-items-center">قیمت : 587970$</h4>
                        <a class="d-flex justify-content-center align-items-center" href="">مشاهده ی جزییات</a>
                        <a class="d-flex justify-content-center align-items-center" href="">add to cart<i
                                class="bi bi-cart-plus"></i></a>
                    </figure>
                    <figure class="list">
                        <div>2</div>
                    </figure>
                    <figure class="list">
                        <div></div>
                    </figure>
                    <figure class="list">
                        <div></div>
                    </figure>
                    <figure class="list">
                        <div></div>
                    </figure>
                    <figure class="list">
                        <div></div>
                    </figure>
                    <figure class="list">
                        <div></div>
                    </figure>
                    <figure class="list">
                        <div></div>
                    </figure>
                    <figure class="list">
                        <div></div>
                    </figure>
                    <figure class="list">
                        <div></div>
                    </figure>
                    <figure class="list">
                        <div></div>
                    </figure>
                    <figure class="list">
                        <div></div>
                    </figure>
                </div>
            </div>

            <div class="col-12 bg-info bg-success productList">
                <div class="col-12">
                    <figure class="list">
                        <div>
                            طول 220 و عرض200
                        </div>
                        <h4 class="d-flex justify-content-center align-items-center">قیمت : 587970$</h4>
                        <a class="d-flex justify-content-center align-items-center" href="">مشاهده ی جزییات</a>
                        <a class="d-flex justify-content-center align-items-center" href="">add to cart<i
                                class="bi bi-cart-plus"></i></a>
                    </figure>
                    <figure class="list">
                        <div>3</div>
                    </figure>
                    <figure class="list">
                        <div></div>
                    </figure>
                    <figure class="list">
                        <div></div>
                    </figure>
                    <figure class="list">
                        <div></div>
                    </figure>
                    <figure class="list">
                        <div></div>
                    </figure>
                    <figure class="list">
                        <div></div>
                    </figure>
                    <figure class="list">
                        <div></div>
                    </figure>
                    <figure class="list">
                        <div></div>
                    </figure>
                    <figure class="list">
                        <div></div>
                    </figure>
                    <figure class="list">
                        <div></div>
                    </figure>
                    <figure class="list">
                        <div></div>
                    </figure>
                </div>
            </div>



            <div class="col-12 bg-white d-flex justify-content-center align-items-center">
                <span class="showList d-flex justify-content-center align-items-center" href="">1</span>
                <span class="showList d-flex justify-content-center align-items-center" href="">2</span>
                <span class="showList d-flex justify-content-center align-items-center" href="">3</span>
            </div>
    </div>


    <div class="col-12 col-lg-4 productCategory h-100 p-0 m-0 pt-5">
        <h5 class="pb-2 ps-2">category</h5>
        <div class="col-12 py-2">
            {% for category in categories %}
                <ul class="acc">
                    <li data-status='off'>
                        <div class="row1">
                            <h6>{{ category.title }}</h6>
                            <span><i>&gt;</i></span>
                        </div>
                        <div class="row2">
                            {% for sub_category in category.productcategory_set.all %}
                                <a href="">{{ sub_category.title }}</a>
                            {% endfor %}
                        </div>
                    </li>
                </ul>
            {% endfor %}

        </div>
        <div class="col-12 p-4">
            <div class="col-12 d-flex justify-content-between align-items-center px-2">
                <h4 class="h-100 col-6">brand </h4>
            </div>
            <form class="col-12 d-flex justify-content-between align-items-center px-4 py-2 flex-wrap"
                  action="registerForm.php" method="post" name="filter">
                {% for brand in brands %}
                    <input class="col-1" id="yes_{{ brand.id }}" type="checkbox" name="brand1">
                    <label class="col-11" for="yes_{{ brand.id }}"><h5>{{ brand.title }}</h5></label>
                {% endfor %}


                <div class="col-12 rangeOfPrice">فیلتر قیمت</div>
                <button class="sendDetails">send</button>
            </form>
        </div>
    </div>
</div>
</div>
<script src="../../../statics/js/products.js"></script>
</body>
</html>