{% extends 'shared/_layout.html' %}
{% load thumbnail %}
{% load poll_extras %}


{% block title %}
    {{ product.title }}
{% endblock %}

{% block content %}
    <div class="container-fluid slideC3 d-flex justify-content-center p-0 m-0 pb-4">
        <div class="container-xxl slide3 d-flex justify-content-start h-100 p-0 m-0 w-100 flex-wrap">
            <div class="slider3 col-12 col-lg-8 h-100 productSection p-0 m-0 d-flex justify-content-start flex-wrap">
                <div class="window3 p-0 m-0 col-12 col-lg-6 h-100">
                    <span onclick="_right3()" id="right3"><i class="bi bi-arrow-right-circle-fill"></i></span>
                    <span onclick="_left3()" id="left3"><i class="bi bi-arrow-left-circle-fill"></i></span>
                    <div id="bus3" class="w-100 h-100 p-0 m-0">

                        <figure class="col-12">
                            <div>
                                {% thumbnail product.image "300x360" crop='center' as im %}
                                    <img src="{{ im.url }}" alt="">
                                {% endthumbnail %}
                            </div>
                        </figure>
                        {% for product_picture in product_pictures %}
                            <figure class="col-12">
                                <div>
                                    {% thumbnail product_picture.image "300x360" crop='center' as im %}
                                        <img src="{{ im.url }}" alt="">
                                    {% endthumbnail %}
                                </div>
                            </figure>
                        {% endfor %}


                    </div>
                    <div class="thumbnail">
                        <div class="thumb"></div>
                        {% for product_picture in product_pictures %}
                            <div class="thumb"></div>
                        {% endfor %}

                    </div>
                </div>
                <div class="col-12 col-lg-6 text p-4 mt-4">
                    <h2 class="pt-3">name: {{ product.title }}</h2>
                    <h6 class="py-2">id: {{ product.id }}</h6>
                    <h4 class="py-2">price: {{ product.price|three_digits_price }} </h4>
                    <h4 class="py-2 pb-3">موجودی: available </h4>
                    {% if product.brand %}
                        <h4 class="py-2 pb-3">brand: {{ product.brand }} </h4>
                    {% endif %}
                    <div class="add">
                        <div class="w-100 my-2 h-100 py-2">
                            <span class="addToCart h-100">add to cart</span>
                        </div>
                        <div class="w-100 count">
                            <div class="col-12 p-2 d-flex justify-content-start align-items-center">
                                <div class="counter d-flex justify-content-center align-items-center">
                                    <div class="p-3 d-flex justify-content-center align-items-center">
                                        <i class="bi bi-trash"></i>
                                    </div>
                                    <h4 class="my-2 d-flex justify-content-center align-items-center">1</h4>
                                    <div class="p-2 d-flex justify-content-center align-items-center">+</div>
                                </div>
                            </div>
                            <div class="col-12 p-3 d-flex justify-content-start align-items-center">
                                <a href="">برو سبد خریدتو ببین</a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-12 p-0 m-0">
                    <ul class="col-12 p-0 m-0 d-flex justify-content-start align-items-center details">
                        <li class="d-block p-4 show">description</li>
                        <li class="d-block p-4 show">یادم نیست اینو</li>
                        <li class="d-block p-4 show">comments</li>
                    </ul>
                    <div class="col-12 p-4 txt">
                        {{ product.description }}
                    </div>
                    <div class="col-12 p-4 txt">
                        <p><b>name: </b>kdkplp</p>
                        <p><b>name: </b>kdkplp</p>
                        <p><b>name: </b>kdkplp</p>
                    </div>
                    <div class="col-12 p-4 txt">
                        <div class="row ps-4">
                            <h6 class="commentTitle col-4"><i class="bi bi-person"></i>اسم مشتری </h6>
                            <h6 class="commentTitle col-4 day"></h6>
                            <h6 class="commentTitle col-4 time"></h6>
                        </div>
                        <div class="row ps-5 py-4 recentComment">
                            <div class="customer col-3 p-0 m-0">
                                <a>
                                    100 * 100
                                </a>
                            </div>
                            <div class="customerComment col-6 d-flex flex-wrap">
                                <h6 class="commentTitle col-4"><i class="bi bi-person"></i>اسم مشتری</h6>
                                <h6 class="commentTitle col-4"><i class="bi bi-calendar2"></i>تاریخ</h6>
                                <h6 class="commentTitle col-4"><i class="bi bi-watch"></i>ساعت</h6>
                                <p class="col-12">نظر</p>
                                <div class="col-12 answer"><a href="">پاسخ</a></div>
                            </div>
                        </div>
                        <form class="comment mt-4 d-flex justify-content-start align-items-center flex-wrap"
                              action="registerForm.php" method="post" autocomplete="off">
                        <textarea class="col-10 col-lg-6 me-5" name="comment" id="" cols="30" rows="10"
                                  placeholder="write here..."></textarea>
                            <button class="col-4 me-5">send</button>
                        </form>
                    </div>
                </div>


            </div>
            <div class="col-12 col-lg-4 productCategory h-100 p-0 m-0 pt-5">
                <h5 class="pb-2 pt-4 ps-2">category</h5>
                <div class="col-12 py-2">
                    {% for category in categories %}
                        <ul class="acc">
                            <li data-status='off'>
                                <div class="row1">
                                    <h6>{{ category.title }}</h6>
                                    <span><i>&gt;</i></span>
                                </div>
                                <div class="row2">
                                    {% for sub_category in category.productcategory_set.all %}
                                        <a href="">{{ sub_category.title }}</a>
                                    {% endfor %}
                                </div>
                            </li>
                        </ul>
                    {% endfor %}

                </div>
                <div class="col-12 p-4">
                    <div class="col-12 d-flex justify-content-between align-items-center px-2">
                        <h4 class="h-100 col-6">brand </h4>
                    </div>
                    <form class="col-12 d-flex justify-content-between align-items-center px-4 py-2 flex-wrap"
                          action="registerForm.php" method="post" name="filter">
                        {% for brand in brands %}
                            <input class="col-1" id="yes_{{ brand.id }}" type="checkbox" name="brand1">
                            <label class="col-11" for="yes_{{ brand.id }}"><h5>{{ brand.title }}</h5></label>
                        {% endfor %}


                        <div class="col-12 rangeOfPrice">فیلتر قیمت</div>
                        <button class="sendDetails">send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% if similar_products %}
        <div class="container-fluid d-flex justify-content-center align-items-center">
            <div class="container-xxl d-flex justify-content-center align-items-center">
                <div class="row h-100 w-100">
                    <h4 class="d-flex justify-content-center align-items-center">Similar products</h4>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="container-fluid d-flex justify-content-center align-items-center">
        <div class="container-xxl slide2 d-flex justify-content-center align-items-center">
            <div class="row slider2 h-100 w-100">
                <div class="window2 h-100 p-0 m-0  bg-white">
                    <span class="moveR" id="right2" onclick="_moveR()"><i class="bi bi-arrow-right-short"></i></span>
                    <span class="moveL" id="left2" onclick="_moveL()"><i class="bi bi-arrow-left-short"></i></span>
                    <div class="d-flex justify-content-space-start align-items-center m-0 p-4  bg-white" id="bus2">
                        {% for similar_product in similar_products %}
                            <figure>
                                <div>
                                    {% thumbnail similar_product.image "154x148" crop='center' as im %}
                                        <img src="{{ im.url }}" alt="">
                                    {% endthumbnail %}
                                </div>
                                <figcaption
                                        class="d-flex justify-content-center align-items-center">{{ similar_product.title }}</figcaption>
                                <a href="" class="d-flex justify-content-center align-items-center">show details</a>
                                <a href="" class="d-flex justify-content-center align-items-center">add to cart<i
                                        class="bi bi-cart-plus"></i></a>
                            </figure>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/statics/js/products.js"></script>
{% endblock %}