{% extends 'shared/_layout.html' %}
{% load thumbnail %}
{% load poll_extras %}

{% block title %}
    {{ product.title }}
{% endblock %}

{% block content %}
    <div class="container-fluid slideC3 d-flex justify-content-center p-0 m-0 pb-4">
        <div class="container-xxl slide3 d-flex justify-content-center h-100 p-0 m-0 w-100 flex-wrap">
            <div class="slider3 w-100 h-100 productSection p-0 m-0 d-flex justify-content-start flex-wrap">
                <div class="window3 p-0 m-0 col-12 col-lg-6 h-100 mx-5">
                    <span onclick="_right3()" id="right3"><i class="bi bi-arrow-right-circle-fill"></i></span>
                    <span onclick="_left3()" id="left3"><i class="bi bi-arrow-left-circle-fill"></i></span>
                    <div id="bus3" class="w-100 h-100 p-0 m-0">

                        <figure class="col-12">
                            <div>
                                {% thumbnail product.image "300x360" crop='center' as im %}
                                    <img src="{{ im.url }}" alt="">
                                {% endthumbnail %}
                            </div>
                        </figure>
                        {% for product_picture in product_pictures %}
                            <figure class="col-12">
                                <div>
                                    {% thumbnail product_picture.image "300x360" crop='center' as im %}
                                        <img src="{{ im.url }}" alt="">
                                    {% endthumbnail %}
                                </div>
                            </figure>
                        {% endfor %}


                    </div>
                    <div class="thumbnail">
                        <div class="thumb"></div>
                        {% for product_picture in product_pictures %}
                            <div class="thumb"></div>
                        {% endfor %}

                    </div>
                </div>
                <div class="col-12 col-lg-5 text p-4 ms-5">
                    <h2 class="pt-3">name: {{ product.title }}</h2>
                    <h6 class="py-2">id: {{ product.id }}</h6>
                    <h4 class="py-2">price: {{ product.price|three_digits_price }} </h4>
                    <h4 class="py-2">موجودی: available </h4>
                    <div class="py-2 d-flex chooseColor">
                        <h5 class="me-4">color: </h5>
                        <div class="color m-2">
                            <i class="bi bi-check choose"></i>
                        </div>
                        <div class="color m-2">
                            <i class="bi bi-check choose"></i>
                        </div>
                        <div class="color m-2">
                            <i class="bi bi-check choose"></i>
                        </div>
                        <div class="color m-2">
                            <i class="bi bi-check choose"></i>
                        </div>
                        <div class="color m-2">
                            <i class="bi bi-check choose"></i>
                        </div>
                        <div class="color m-2">
                            <i class="bi bi-check choose"></i>
                        </div>
                    </div>
                    {% if product.brand %}
                        <h4 class="py-2 pb-3">brand: {{ product.brand }} </h4>
                    {% endif %}
                    <div class="add">
                        <div class="w-100 count">
                            <div class="col-12 p-2 d-flex justify-content-start align-items-center">
                                <div class="counter d-flex justify-content-center align-items-center">
                                    <div class="p-3 d-flex justify-content-center align-items-center"
                                         onclick="changeProductCount({{ detail_order.id }}, 'decrease')">-
                                    </div>
                                    <h4 class="my-2 d-flex justify-content-center align-items-center">1</h4>
                                    <div class="p-2 d-flex justify-content-center align-items-center"
                                         onclick="changeProductCount({{ detail_order.id }}, 'increase')">+
                                    </div>
                                </div>
                            </div>

                            <div class="w-100 my-2 h-100 py-2">
                            <span class="addToCart h-100"
                                  onclick="addProductToCart({{ product.id }})">add to cart
                            </span>
                            </div>

                            <div class=" col-12 p-3 d-flex justify-content-start align-items-center">
                                <a href="">برو سبد خریدتو ببین</a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-12 p-0 m-0 mt-4">
                    <ul class="col-12 p-0 m-0 d-flex justify-content-start align-items-center details">
                        <li class="d-block p-4 show">description</li>
                        <li class="d-block p-4 show">یادم نیست اینو</li>
                        <li class="d-block p-4 show">comments</li>
                    </ul>
                    <div class="col-12 p-4 txt">
                        {{ product.description }}
                    </div>
                    <div class="col-12 p-4 txt">
                        <p><b>name: </b>kdkplp</p>
                        <p><b>name: </b>kdkplp</p>
                        <p><b>name: </b>kdkplp</p>
                    </div>
                    <div class="col-12 p-4 txt" id="comment_area">

                        <h4 class="commentTitle col-4"><i></i>comments({{ comment_count }})</h4>
                        <div class="row ps-5 py-4 recentComment">
                            {% for comment in comments %}
                                <div class="customer col-3 p-0 m-0">
                                    <a>
                                        {% if comment.user.avatar %}
                                            {% thumbnail comment.user.avatar "100x100" crop='center' as im %}
                                                <img src="{{ im.url }}" alt="">
                                            {% endthumbnail %}
                                        {% else %}
                                            <img src="/statics/images/Customer.jpg" alt="">

                                        {% endif %}
                                    </a>
                                </div>
                                <div class="customerComment col-6 d-flex flex-wrap">
                                    <h6 class="commentTitle col-4"><i
                                            class="bi bi-person"></i>{{ comment.user.username }}</h6>
                                    <h6 class="commentTitle col-4"><i
                                            class="bi bi-calendar2"></i>{{ comment.date | date }}</h6>
                                    <h6 class="commentTitle col-4"><i
                                            class="bi bi-watch"></i>{{ comment.date | time }}</h6>
                                    <p class="col-12">{{ comment.text }}</p>
                                </div>
                            {% endfor %}

                            {% if comment_count == 0 %}
                                <p>there are no comments here</p>
                                {% if request.user.is_authenticated %}
                                    <p>Be the First one...</p>
                                {% endif %}
                            {% endif %}

                        </div>
                        {% if request.user.is_authenticated %}
                            <div class="comment mt-4 d-flex justify-content-start align-items-center flex-wrap"
                                 action="registerForm.php" method="post" autocomplete="off">
                        <textarea class="col-10 col-lg-6 me-5" name="comment" id="text_area" cols="30" rows="10"
                                  placeholder="write here..."></textarea>
                                <button onclick="addProductComment({{ product.id }})" class="col-4 me-5">send
                                </button>
                            </div>
                        {% else %}
                            <p>you should <a href="{% url 'login_page' %}"> login </a> if you want to add comment
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>


        </div>
    </div>

    {% if similar_products %}
        <div class="container-fluid d-flex justify-content-center align-items-center">
            <div class="container-xxl d-flex justify-content-center align-items-center">
                <div class="row h-100 w-100">
                    <h4 class="d-flex justify-content-center align-items-center">Similar products</h4>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="container-fluid d-flex justify-content-center align-items-center">
        <div class="container-xxl slide2 d-flex justify-content-center align-items-center">
            <div class="row slider2 h-100 w-100">
                <div class="window2 h-100 p-0 m-0  bg-white">
                        <span class="moveR" id="right2" onclick="_moveR()"><i
                                class="bi bi-arrow-right-short"></i></span>
                    <span class="moveL" id="left2" onclick="_moveL()"><i class="bi bi-arrow-left-short"></i></span>
                    <div class="d-flex justify-content-space-start align-items-center m-0 p-4  bg-white" id="bus2">
                        {% for similar_product in similar_products %}
                            <figure>
                                <div>
                                    {% thumbnail similar_product.image "154x148" crop='center' as im %}
                                        <img src="{{ im.url }}" alt="">
                                    {% endthumbnail %}
                                </div>
                                <figcaption
                                        class="d-flex justify-content-center align-items-center">{{ similar_product.title }}</figcaption>
                                <a href="{% url 'product_detail' slug=similar_product.slug %}"
                                   class="d-flex justify-content-center align-items-center">show details</a>
                                <a href="" class="d-flex justify-content-center align-items-center">add to cart<i
                                        class="bi bi-cart-plus"></i></a>
                            </figure>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/statics/js/products.js"></script>
{% endblock %}