<footer class="container-fluid d-flex justify-content-center align-items-center mt-5 footer">
    <div class="container-xxl d-flex justify-content-center align-items-center h-100">
        <div class="row w-100 h-100 justify-content-center align-items-center p-0 m-0">
            <div class="row col-12 col-md-6 col-lg-3 h-100 p-0 m-0 align-content-start footerS py-4">
                <h4 class="col-12 py-2 py-lg-4">be with us!</h4>
                <div class="col-12 col-md-4 d-flex justify-content-center align-items-center icon mx-2 mt-4"><a
                        href=""><i
                        class="bi bi-instagram"></i></a></div>
                <div class="col-12 col-md-4 d-flex justify-content-center align-items-center icon mx-2 mt-4"><a
                        href=""><i class="bi bi-linkedin"></i></a></div>
                <div class="col-12 col-md-4 d-flex justify-content-center align-items-center icon mx-2 mt-4"><a
                        href=""><i
                        class="bi bi-github"></i></a></div>
            </div>
            <div class="row col-12 col-md-6 col-lg-3 h-100 p-0 m-0 align-content-start footerS py-4">
                <h4 class="col-12 py-2 py-lg-4">Buying guide from online shop</h4>
                <a class="col-12 p-2 ps-4" href="">how to place an order</a>
                <a class="col-12 p-2 ps-4" href="">order sending producer</a>
                <a class="col-12 p-2 ps-4" href="">payment methods</a>
            </div>
            <div class="row col-12 col-md-6 col-lg-3 h-100 p-0 m-0 align-content-start footerS py-4">
                <h4 class="col-12 py-2 py-lg-4">customer services</h4>
                <a class="col-12 p-2 ps-4" href="">procedure for returning products</a>
                <a class="col-12 p-2 ps-4" href="">terms of use</a>
                <a class="col-12 p-2 ps-4" href="">privacy</a>
                <a class="col-12 p-2 ps-4" href="">report a problem</a>
            </div>
            <div class="row col-12 col-md-6 col-lg-3 h-100 p-0 m-0 align-content-start footerS py-4">
                <h4 class="col-12 py-2 py-lg-4">with us</h4>
                <a class="col-12 p-2 ps-4" href="">contact us</a>
                <a class="col-12 p-2 ps-4" href="">about us</a>
                <a class="col-12 p-2 ps-4" href="">newsroom</a>
            </div>
        </div>
    </div>
</footer>


