<footer class="container-fluid d-flex justify-content-center align-items-center mt-5 foot">
    <div class="container-xxl d-flex justify-content-center align-items-center h-100">
        <div class="row w-100 h-100 justify-content-center align-items-center p-0 m-0">

            <div class="row col-12 p-0 m-0 align-content-start footerS py-4 pt-4 about">
                <h4>about us</h4>
                <span class="px-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, vitae saepe. Dolorum non soluta,
                blanditiis minus totam provident pariatur animi commodi dolores, laboriosam odio. Doloremque
                reprehenderit dolor perferendis saepe ducimus atque, necessitatibus voluptatum, maiores quas tempora
                enim molestias porro fugit!<a class="ps-5" href="">read more &gt;</a></span>
            </div>

            <div class="col-12 link d-flex flex-wrap">
                <div class="row col-12 col-md-6 col-lg-3 p-0 m-0 align-content-start footerS py-2 pt-4 h-100">
                    <h4 class="col-12 py-2">be with us!</h4>
                    <div class="col-12 col-md-4 d-flex justify-content-center align-items-center icon mx-2 mt-4"><a
                            href=""><i
                            class="bi bi-instagram"></i></a></div>
                    <div class="col-12 col-md-4 d-flex justify-content-center align-items-center icon mx-2 mt-4"><a
                            href=""><i class="bi bi-linkedin"></i></a></div>
                    <div class="col-12 col-md-4 d-flex justify-content-center align-items-center icon mx-2 mt-4"><a
                            href=""><i
                            class="bi bi-github"></i></a></div>
                </div>

                {% for footer_link_box in footer_link_boxes %}
                    <div class="row col-12 col-md-6 col-lg-3 p-0 m-0 align-content-start footerS py-2 h-100">
                        <h4 class="col-12 py-2 py-lg-4 ps-2">{{ footer_link_box.title }}</h4>
                        {% for footerlink in footer_link_box.footerlink_set.all %}
                            <a class="col-12 p-2 ps-4" href="{{ footerlink.url }}">{{ footerlink.title }}</a>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>

            <div class="row col-12 p-0 m-0 align-content-start copy pt-lg-5">
                <p class="pull-right col-12 d-flex justify-content-start align-items-center p-0 m-0 py-2 ps-4">Copyright
                    ©
                    2022
                    {{ site_setting.copy_right }}
                </p>
            </div>
        </div>
    </div>
</footer>


