<div class="container-fluid d-flex justify-content-center align-items-center mb-lg-2">
    <div class="container-xxl d-flex justify-content-center align-items-center">
        <header class="header row w-100 mx-0">

            <section class="col-3 col-lg-3 h-50">
                <figure class="w-100 h-100">
                    <a href="{% url 'home_page' %}">
                        <img alt="" class="h-100" src="{{ site_setting.logo.url }}">
                    </a>
                </figure>
            </section>

            <header class="col-9 col-lg-9 h-50 p-0 m-0 row">
                <ul class="col-12 h-100 d-flex justify-content-end align-items-center p-0">
                    <li class="h-100">
                        <a class="d-block h-100 w-100 py-4 px-1 px-lg-3" href="">account <i
                                class="bi bi-person"></i></a>
                    </li>
                    <li class="h-100">
                        <a class="d-block h-100 w-100 py-4 px-1 px-lg-3" href="">cart <i class="bi bi-cart"></i></a>
                    </li>
                    <li class="h-100">
                        <a class="d-block h-100 w-100 py-4 px-1 px-lg-3" href="">favorites <i
                                class="bi bi-star-fill"></i></a>
                    </li>
                    <li class="h-100">
                        <a class="d-block h-100 w-100 py-4 px-1 px-lg-3" href=""><i class="bi bi-bell"></i></a>
                    </li>
                    <li class="h-100 px-1">
                        <a class="d-block h-100 w-100 py-4 px-1 px-lg-3" href="{% url 'login_page' %}">login <i
                                class="bi bi-box-arrow-in-left"></i></a>
                    </li>
                </ul>
            </header>

            <nav class="mobileMenu h-50 col-6 d-lg-none d-flex align-items-center justify-content-start">
                <span class="ps-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-list" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                    </svg>
                </span>
            </nav>

            <nav class="desktopMenu h-50 d-none d-lg-flex col-9 px-0">
                <ul class="d-flex h-100 col-12 justify-content-start align-items-center">
                    <li class="h-100 mx-0 py-0">
                        <a class="category objects d-block h-100 w-100 py-4 px-3" href="">classification of goods</a>
                        <ul>
                            <li>
                                <div class="box1">
                                    <ul>
                                        {% for category in categories %}
                                            <li>
                                                <a href="">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                                                        <!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                                                        <path d="M640 162.8c0 6.917-2.293 13.88-7.012 19.7l-49.96 61.63c-6.32 7.796-15.62 11.85-25.01 11.85c-7.01 0-14.07-2.262-19.97-6.919L480 203.3V464c0 26.51-21.49 48-48 48H208C181.5 512 160 490.5 160 464V203.3L101.1 249.1C96.05 253.7 88.99 255.1 81.98 255.1c-9.388 0-18.69-4.057-25.01-11.85L7.012 182.5C2.292 176.7-.0003 169.7-.0003 162.8c0-9.262 4.111-18.44 12.01-24.68l135-106.6C159.8 21.49 175.7 16 191.1 16H225.6C233.3 61.36 272.5 96 320 96s86.73-34.64 94.39-80h33.6c16.35 0 32.22 5.49 44.99 15.57l135 106.6C635.9 144.4 640 153.6 640 162.8z"/>
                                                    </svg>
                                                    {{ category.title }}</a>
                                                <div class="box2">
                                                    {% for sub_category in category.productcategory_set.all %}
                                                        <a href="{% url 'product_list' category=sub_category.url_title %}">{{ sub_category.title }}</a>
                                                        {% if sub_category.productcategory_set.all %}
                                                            <ul>
                                                                {% for sub_sub_category in sub_category.productcategory_set.all %}
                                                                    <li>
                                                                        <a href="{% url 'product_list' category=sub_sub_category.url_title %}">{{ sub_sub_category.title }}</a>
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </li>
                                        {% endfor %}

                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="h-100 mx-0 py-0">
                        <a class="objects d-block h-100 w-100 py-4 px-3" href="">Best sellers</a>
                    </li>
                    <li class="h-100 mx-0 py-0">
                        <a class="objects d-block h-100 w-100 py-4 px-3" href="">Latest Products</a>
                    </li>
                    <li class="h-100 mx-0 py-0">
                        <a class="objects d-block h-100 w-100 py-4 px-3" href="">The most popular brands</a>
                    </li>
                    <li class="h-100 mx-0 py-0">
                        <a class="objects d-block h-100 w-100 py-4 px-3" href="">Latest articles</a>
                    </li>
                </ul>
            </nav>

            <section class="col-6 col-lg-3 h-50 d-flex justify-content-end align-items-center p-0 m-0">
                اینجا اینپوت بساز واسه سرچ کردن
            </section>
        </header>
    </div>
</div>