<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../../../statics/stylesheet/normalize.css">
    <link rel="stylesheet" href="../../../statics/stylesheet/master.css">
    <link rel="stylesheet" href="../../../statics/stylesheet/local.css">
    <title>Document</title>
</head>
<body>
<div class="container-fluid w-100 mt-5 d-flex justify-content-center align-items-center">
    <div class="container-fluid container-xxl d-flex justify-content-evenly align-items-start w-100 h-100 flex-wrap p-0 m-0">
        <div class="row col-12 col-lg-3  h-100 p-0 m-0 flex-wrap userMenu">
            <h2 class="col-12">name</h2>
            <ul class="col-12">
                <li class="py-1 col-12 summeryOfActivities"><h5>summery of activities</h5></li>
                <li class="py-1 col-12 orders"><h5>orders</h5></li>
                <li class="py-1 col-12 opinions"><h5>opinions</h5></li>
                <li class="py-1 col-12 addresses"><h5>addresses</h5></li>
                <li class="py-1 col-12 messages"><h5>messages</h5></li>
                <li class="py-1 col-12 recentVisits"><h5>recent visits</h5></li>
                <li class="py-1 col-12 userAccountInformation"><h5>user account information</h5></li>
                <li class="py-1 col-12"><h5>exit</h5></li>
            </ul>
        </div>
        <div class="row col-12 col-lg-9 p-0 m-0 accountSection justify-content-center">
            <div class="col-11 summeryOfActivitiesSection">
                <h4 class="col-12">orders</h4>
                <div class="d-flex justify-content-evenly align-items-center col-12">
                    <div class="col-6 d-flex flex-wrap orderStatus justify-content-center align-items-center">
                        <div class="col-6 h-100 d-flex justify-content-center align-items-center">
                            <i class="bi bi-bag-check"></i>
                        </div>
                        <div class="col-6 h-100 d-flex justify-content-center align-items-start flex-wrap">
                            <h5 class="col-12 pt-5">delivered</h5>
                            <h6 class="col-12">ijjok</h6>
                        </div>
                    </div>
                    <div class="col-6 d-flex flex-wrap orderStatus justify-content-center align-items-center">
                        <div class="col-6 h-100 d-flex justify-content-center align-items-center">
                            <i class="bi bi-bag"></i>
                        </div>
                        <div class="col-6 h-100 d-flex justify-content-center align-items-start flex-wrap">
                            <h5 class="col-12 pt-5">current</h5>
                            <h6 class="col-12">ijjok</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 bg-info ordersSection">
                hijokpkpp
            </div>
            <div class="col-10 opinionsSection">
                <div class="customer col-3 p-0 m-0">
                    <a>
                        <img src="/statics/images/Customer.jpg" alt="">
                    </a>
                </div>
                <div class="customerComment col-6 d-flex flex-wrap">
                    <h6 class="commentTitle col-5 px-2"><i
                            class="bi bi-calendar2"></i>تاریخ</h6>
                    <h6 class="commentTitle col-5"><i
                            class="bi bi-watch"></i>ساعت</h6>
                    <p class="col-12 px-2">نظر</p>
                </div>
            </div>
            <div class="col-12 bg-info addressesSection">
                mrkeokpep4
            </div>
            <div class="col-11 messagesSection">
                <div class="col-11 order">
                    <h5>lkpl[;]]</h5>
                    <p>kppepr io ii0io io o oi oio i iqii0-qwoo  opopi2p o o popo  opqoopp[ kppepr io ii0io io o oi oio i iqii0-qwoo  opopi2p o o popo</p>
                </div>
            </div>
            <div class="col-12 bg-info recentVisitsSection">
                mrkeokpep6
            </div>
            <div class="col-10 col-lg-5 userAccountInformationSection">
                <label class="col-11 py-2">first name : </label>
                <div class="col-1 py-2"><a href=""><i class="bi bi-pencil"></i></a></div>
                <h6 class="col-12 editInformation">elham</h6>
                <label class="col-11 py-2">last name : </label>
                <div class="col-1 py-2"><a href=""><i class="bi bi-pencil"></i></a></div>
                <h6 class="col-12 editInformation">zahir</h6>
                <label class="col-11 py-2">national code: </label>
                <div class="col-1 py-2"><a href=""><i class="bi bi-pencil"></i></a></div>
                <h6 class="col-12 editInformation">&nbsp;</h6>
                <label class="col-11 py-2">phone number : </label>
                <div class="col-1 py-2"><a href=""><i class="bi bi-pencil"></i></a></div>
                <h6 class="col-12 editInformation">09100134518</h6>
                <label class="col-11 py-2">email : </label>
                <div class="col-1 py-2"><a href=""><i class="bi bi-pencil"></i></a></div>
                <h6 class="col-12 editInformation">&nbsp;</h6>
                <label class="col-11 py-2">date of birth : </label>
                <div class="col-1 py-2"><a href=""><i class="bi bi-pencil"></i></a></div>
                <h6 class="col-12 editInformation">&nbsp;</h6>
                <label class="col-11 py-2">password : </label>
                <div class="col-1 py-2"><a href=""><i class="bi bi-pencil"></i></a></div>
                <h6 class="col-12 editInformation">&nbsp;</h6>
            </div>
        </div>
    </div>
</div>
<script src="/statics/js/account.js"></script>
</body>
</html>