{% extends 'shared/_layout.html' %}
{% load poll_extras %}
{% load thumbnail %}
{% load render_partial %}

{% block title %}
    dashboard
{% endblock %}

{% block content %}
    <div class="container-fluid w-100 mt-5 d-flex justify-content-center align-items-center">
        <div class="container-fluid container-xxl d-flex justify-content-evenly align-items-start w-100 h-100 flex-wrap p-0 m-0">
            <div class="row col-11 col-lg-3  h-100 p-0 m-0 flex-wrap userMenu mb-5">
                {% render_partial 'user_panel_module.views.user_panel_menu_component' %}
            </div>
            <div class="col-11 col-lg-8 summeryOfActivitiesSection">
                <h4 class="col-12 ps-3">orders</h4>
                <div class="d-flex justify-content-evenly align-items-center col-12 mb-4">
                    <div class="col-5 d-flex flex-wrap orderStatus justify-content-center align-items-center">
                        <div class="col-6 h-100 d-flex justify-content-center align-items-center">
                            <i class="bi bi-bag-check"></i>
                        </div>
                        <div class="col-5 h-100 d-flex justify-content-center align-items-start flex-wrap">
                            <h5 class="col-12 pt-5">delivered</h5>
                            <h6 class="col-12">{{ delivered_orders }}</h6>
                        </div>
                    </div>
                    <div class="col-6 d-flex flex-wrap orderStatus justify-content-center align-items-center">
                        <div class="col-6 h-100 d-flex justify-content-center align-items-center">
                            <i class="bi bi-bag"></i>
                        </div>
                        <div class="col-6 h-100 d-flex justify-content-center align-items-start flex-wrap">
                            <h5 class="col-12 pt-5">current</h5>
                            <h6 class="col-12">{{ current_orders }}</h6>
                        </div>
                    </div>
                </div>
                <h4 class="col-12 ps-3 mb-3">recent visits</h4>
                <div class="sliderContainer col-12 mb-4">
                    <span class="rightMove"><i class="bi bi-arrow-right-circle-fill"></i></span>
                    <span class="leftMove"><i class="bi bi-arrow-left-circle-fill"></i></span>
                    <div class="busSlider d-flex">
                        {% for product in recent_views %}
                            <figure class="ordersSlider">
                                <div>
                                    {% thumbnail product.image "220x200" crop='center' as im %}
                                        <img src="{{ im.url }}" alt="">
                                    {% endthumbnail %}
                                </div>
                                <p class="d-flex justify-content-center align-items-center">
                                    {{ product.title }}</p>

                                <h6 class="d-flex justify-content-center align-items-center">
                                    price: {{ product.price|three_digits_price }}</h6>

                                <a class="d-flex justify-content-center align-items-center"
                                   href="{% url 'product_detail' slug=product.slug %}">detail
                                </a>
                            </figure>
                        {% endfor %}

                    </div>
                </div>

                <h4 class="col-12 ps-3 mb-3">recent bought</h4>
                <div class="sliderContainer col-12 mb-4">
                    <span class="rightMove"><i class="bi bi-arrow-right-circle-fill"></i></span>
                    <span class="leftMove"><i class="bi bi-arrow-left-circle-fill"></i></span>
                    <div class="busSlider d-flex">
                        {% for detail in recent_bought %}
                                <figure class="ordersSlider">
                                    <div>
                                        {% thumbnail detail.product.image "220x200" crop='center' as im %}
                                            <img src="{{ im.url }}" alt="">
                                        {% endthumbnail %}
                                    </div>
                                    <p class="d-flex justify-content-center align-items-center">
                                        {{ detail.product.title }}</p>

                                    <h6 class="d-flex justify-content-center align-items-center">
                                        price: {{ detail.product.price|three_digits_price }}</h6>

                                    <a class="d-flex justify-content-center align-items-center"
                                       href="{% url 'product_detail' slug=detail.product.slug %}">detail
                                    </a>
                                </figure>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}