{% extends 'shared/_layout.html' %}
{% load render_partial %}

{% block title %}
    edit profile
{% endblock %}

{% block content %}
    <div class="container-fluid w-100 mt-5 d-flex justify-content-center align-items-center">
        <div class="container-fluid container-xxl d-flex justify-content-evenly align-items-start w-100 h-100 flex-wrap p-0 m-0">
            <div class="row col-11 col-lg-3  h-100 p-0 m-0 flex-wrap userMenu mb-5">
                <h2 class="col-12">name</h2>
                <ul class="col-12">
                    <li class="py-1 col-12 summeryOfActivities"><h5>summery of activities</h5></li>
                    <li class="py-1 col-12 orders"><h5>orders</h5></li>
                    <li class="py-1 col-12 opinions"><h5>opinions</h5></li>
                    <li class="py-1 col-12 addresses"><h5>addresses</h5></li>
                    <li class="py-1 col-12 messages"><h5>messages</h5></li>
                    <li class="py-1 col-12 recentVisits"><h5>recent visits</h5></li>
                    <li class="py-1 col-12 userAccountInformation"><h5>user account information</h5></li>
                    <li class="py-1 col-12"><a href="{% url 'logout_page' %}"><h5>exit</h5></a></li>
                </ul>

            </div>
            <div class="col-11 col-lg-8 userAccountInformationSection">
                <form action="{% url 'edit_user' %}" method="post">
                    {% csrf_token %}
                    <label class="col-11 py-2">username : </label>
                    {% comment %}<div class="col-1 py-2"><a href=""><i class="bi bi-pencil"></i></a></div>{% endcomment %}
                    {{ edit_profile_form.username }}
                    <label class="col-11 py-2">first name : </label>
                    {% comment %}<div class="col-1 py-2"><a href=""><i class="bi bi-pencil"></i></a></div>{% endcomment %}
                    {{ edit_profile_form.first_name }}
                    <label class="col-11 py-2">last name : </label>
                    {% comment %}<div class="col-1 py-2"><a href=""><i class="bi bi-pencil"></i></a></div>{% endcomment %}
                    {{ edit_profile_form.last_name }}
                    <label class="col-11 py-2">national code: </label>
                    {% comment %}<div class="col-1 py-2"><a href=""><i class="bi bi-pencil"></i></a></div>{% endcomment %}
                    {{ edit_profile_form.national_code }}
                    <label class="col-11 py-2">phone number : </label>
                    {% comment %}<div class="col-1 py-2"><a href=""><i class="bi bi-pencil"></i></a></div>{% endcomment %}
                    {{ edit_profile_form.mobile }}
                    <label class="col-11 py-2">email : </label>
                    {% comment %}<div class="col-1 py-2"><a href=""><i class="bi bi-pencil"></i></a></div>{% endcomment %}
                    {{ edit_profile_form.email }}
                    <label class="col-11 py-2">date of birth : </label>
                    {% comment %}<div class="col-1 py-2"><a href=""><i class="bi bi-pencil"></i></a></div>{% endcomment %}
                    {{ edit_profile_form.date_of_birth }}
                    <label class="col-11 py-2">password : </label>
                    {% comment %}<div class="col-1 py-2"><a href=""><i class="bi bi-pencil"></i></a></div>{% endcomment %}
                    <h6 class="col-12 editInformation">&nbsp;</h6>

                    <button type="submit" class="btn btn-success">confirm</button>
                </form>
            </div>
        </div>

    </div>
{% endblock %}