{% extends 'shared/_layout.html' %}
{% load poll_extras %}
{% load thumbnail %}
{% load render_partial %}

{% block title %}
    recent visits
{% endblock %}

{% block content %}
    <div class="container-fluid w-100 mt-5 d-flex justify-content-center align-items-center">
        <div class="container-fluid container-xxl d-flex justify-content-evenly align-items-start w-100 h-100 flex-wrap p-0 m-0">
            <div class="row col-11 col-lg-3  h-100 p-0 m-0 flex-wrap userMenu mb-5">
                {% render_partial 'user_panel_module.views.user_panel_menu_component' %}
            </div>
            <div class="col-11 col-lg-8 recentVisitsSection d-flex flex-wrap">
                {% for product in recent_views %}
                    <figure class="recentVisitedProduct">
                        <div>
                            {% thumbnail product.image "220x200" crop='center' as im %}
                                <img src="{{ im.url }}" alt="">
                            {% endthumbnail %}
                        </div>
                        <p class="d-flex justify-content-center align-items-center">
                            {{ product.title }}</p>

                        <h6 class="d-flex justify-content-center align-items-center">
                            price: {{ product.price|three_digits_price }}</h6>

                        <a class="d-flex justify-content-center align-items-center"
                           href="{% url 'product_detail' slug=product.slug %}">detail
                        </a>
                    </figure>
                {% endfor %}


            </div>
        </div>

    </div>
{% endblock %}